Repository Automattic/vip-go-mu-plugins, pull requests merged in 2021-11, with the labels that each got.

#2568 Enabling Parse.ly on CI tests
  .circleci/config.yml
  tests/parsely/test-mu-parsely-integration.php
Labels: [Status] Ready to Deploy, [Component] Parse.ly

#2511 Add panel for "autoloaded options" to Query Monitor
  qm-plugins/qm-alloptions/class-qm-collector-alloptions.php
  qm-plugins/qm-alloptions/class-qm-output-alloptions.php
  qm-plugins/qm-alloptions/qm-alloptions.php
  qm-plugins/qm-alloptions/readme.md
  qm-plugins/qm-alloptions/screenshot-1.png
  query-monitor.php
Labels: [Status] Ready to Deploy, [Component] Query Monitor

#2564 Create a new folder 000-pre-vip-config and move all the requires that happen before vip-config.php there for better visibility
  000-pre-vip-config/requires.php
Labels: [Status] Ready to Deploy

#2565 Don't log the default value of the VIP Env var if it wasn't set
  lib/environment/class-environment.php
Labels: [Status] Ready to Deploy

#2486 Alert only if more than 1000 items was autohealed
  search/includes/classes/class-healthjob.php
Labels: [Status] Ready to Deploy

#2560 Enabling Parse.ly telemetry by default on non-production sites
  vip-parsely/vip-parsely.php
Labels: [Status] Needs Review, [Component] Parse.ly

#2570 Update dependencies for Search Dev Tools
  search/search-dev-tools/build/bundle.css
  search/search-dev-tools/build/bundle.js
  search/search-dev-tools/build/polyfills.6d557.esm.js
  search/search-dev-tools/build/polyfills.js
  search/search-dev-tools/package-lock.json
  search/search-dev-tools/package.json
Labels: [Status] Needs Review, [Type] Maintenance

#2569 Upgrade/jetpack to 10.3
  jetpack-10.3/CHANGELOG.md
  jetpack-10.3/_inc/blocks/editor-beta.min.asset.php
  jetpack-10.3/_inc/blocks/editor-beta.min.js
  jetpack-10.3/_inc/blocks/editor-experimental.min.asset.php
  jetpack-10.3/_inc/blocks/editor-experimental.min.js
  jetpack-10.3/_inc/blocks/editor.min.asset.php
  jetpack-10.3/_inc/blocks/editor.min.js
  jetpack-10.3/_inc/build/admin.asset.php
  jetpack-10.3/_inc/build/admin.js
  jetpack-10.3/_inc/build/search-dashboard.asset.php
  jetpack-10.3/_inc/build/search-dashboard.js
  jetpack-10.3/_inc/build/static.js
  jetpack-10.3/composer.json
  jetpack-10.3/jetpack.php
  jetpack-10.3/readme.txt
  jetpack-10.3/vendor/autoload.php
  jetpack-10.3/vendor/autoload_packages.php
  jetpack-10.3/vendor/composer/autoload_real.php
  jetpack-10.3/vendor/composer/autoload_static.php
  jetpack-10.3/vendor/composer/jetpack_autoload_classmap.php
  jetpack-10.3/vendor/jetpack-autoloader/class-autoloader-handler.php
  jetpack-10.3/vendor/jetpack-autoloader/class-autoloader-locator.php
  jetpack-10.3/vendor/jetpack-autoloader/class-autoloader.php
  jetpack-10.3/vendor/jetpack-autoloader/class-container.php
  jetpack-10.3/vendor/jetpack-autoloader/class-hook-manager.php
  jetpack-10.3/vendor/jetpack-autoloader/class-latest-autoloader-guard.php
  jetpack-10.3/vendor/jetpack-autoloader/class-manifest-reader.php
  jetpack-10.3/vendor/jetpack-autoloader/class-path-processor.php
  jetpack-10.3/vendor/jetpack-autoloader/class-php-autoloader.php
  jetpack-10.3/vendor/jetpack-autoloader/class-plugin-locator.php
  jetpack-10.3/vendor/jetpack-autoloader/class-plugins-handler.php
  jetpack-10.3/vendor/jetpack-autoloader/class-shutdown-handler.php
  jetpack-10.3/vendor/jetpack-autoloader/class-version-loader.php
  jetpack-10.3/vendor/jetpack-autoloader/class-version-selector.php
Labels: [Status] Needs Review, [Component] Jetpack

#2571 Use the latest available WordPress versions for tests
  .circleci/config.yml
Labels: [Status] Needs Review, [Type] Maintenance, [Status] No files to Deploy

#2573 Search: Do not perform current field count if no index exists
  search/includes/classes/class-search.php
Labels: [Status] Needs Review, [Component] Search

#2535 Sanitize query before logging 'es_warning' log entries
  search/includes/classes/class-search.php
Labels: [Status] Ready to Deploy, [Component] Search

#2575 Change local Maria testing image
  bin/phpunit-docker.sh
Labels: [Status] Needs Review, [Status] No files to Deploy

#2576 Bump Jetpack Version to 10.3 Release
  jetpack.php
Labels: [Component] Jetpack

#2577 Search: Stagger health jobs scheduling
  search/includes/classes/class-healthjob.php
Labels: [Status] Ready to Deploy, [Component] Search

#2578 CLI: Add success messages after data cleanup CLIs
  wp-cli/vip-data-cleanup.php
Labels: [Status] Ready to Deploy

#2539 Add global wrapper function for Automattic\VIP\Environment::get_var
  lib/environment/class-environment.php
  lib/helpers/environment.php
  tests/lib/helpers/test-environment.php
Labels: [Status] Ready to Deploy, [Component] Cloud API

#2582 Fix typo of md_rand to mt_rand
  search/includes/classes/class-healthjob.php
Labels: [Status] Ready to Deploy

#2579 Search: Implement delay between content validation batches
  search/includes/classes/class-health.php
Labels: [Status] Ready to Deploy, [Component] Search

#2595 Search Dev Tools: update dependencies
  search/search-dev-tools/package-lock.json
  search/search-dev-tools/package.json
Labels: dependencies, [Status] No files to Deploy

#2596 Search Dev Tools: do not bust assets cache for every request
  search/search-dev-tools/search-dev-tools.php
Labels: [Type] Enhancement, [Status] Ready to Deploy

#2602 Update CI to use the latest WP revisions
  .circleci/config.yml
Labels: [Type] Maintenance, [Component] Tests, [Status] No files to Deploy

#2603 Fix 'Invalid value supplied for foreach' warning
  search/includes/classes/class-health.php
  tests/search/includes/classes/test-class-health.php
Labels: [Type] Bug, [Status] Needs Review, [Component] Search

#2606 Fix spelling in ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE.md
Labels: [Status] No files to Deploy

#2598 VIP Search plugin: fix code standards compliance issues
  search/includes/classes/class-health.php
  search/includes/classes/class-healthjob.php
  search/includes/classes/class-search.php
  search/includes/classes/queue/class-cron.php
Labels: [Status] Ready to Deploy, [Component] Code Standards

#2604 Add type annotations so that static code analysis and code completion work properly
  search/includes/classes/class-health.php
  tests/search/includes/classes/test-class-health.php
Labels: [Status] Ready to Deploy, [Type] Maintenance

#2607 Enabling Parse.ly telemetry by default
  vip-parsely/vip-parsely.php
Labels: [Status] Ready to Deploy, [Component] Parse.ly

#2544 Cache WP and WP Test Library
  .circleci/config.yml
Labels: [Type] Enhancement, [Status] Ready to Deploy

#2608 Fix GH-2605
  tests/search/includes/classes/queue/test-class-cron.php
Labels: [Type] Bug, [Status] Needs Review, [Component] Tests

#2611 Fix overescaping when displaying "Bulk actions disabled" notice
  performance/bulk-edit.php
Labels: [Type] Bug, [Status] Ready to Deploy

#2583 Add Environment helpers requirement in 000-pre-vip-config
  000-pre-vip-config/requires.php
Labels: [Status] Ready to Deploy

#2609 Removing custom Akismet filters
  akismet.php
Labels: [Status] Ready to Deploy, [Component] Akismet

#2614 Use unified changelog entry generator
  .circleci/config.yml
  bin/github-changelog.php
Labels: [Status] Needs Review

#2586 A8c files: Move out the Metadata Updater scheduling from web request path
  a8c-files.php
Labels: [Status] Ready to Deploy

#2623 Fix incorrect invocation of get_error_message()
  search/includes/classes/class-health.php
  search/includes/classes/commands/class-versioncommand.php
Labels: [Type] Bug, [Status] Ready to Deploy, [Component] Search

#2624 Make sure that *diff_document_and_prepared_document receives an array
  search/includes/classes/class-health.php
  tests/search/includes/classes/test-class-health.php
Labels: [Type] Bug, [Status] Needs Review, [Component] Search

#2601 Only require vip-jetpack.php when Jetpack file was truly required.
  jetpack.php
Labels: [Status] Ready to Deploy, [Component] Jetpack

#2584 Don't instantiate the Jobs objects and don't try to schedule them in web context
  search/includes/classes/class-search.php
  tests/search/includes/classes/test-class-search.php
Labels: [Status] Ready to Deploy, [Component] Search

#2620 Search: Bail and do not log when request is index_exists
  search/includes/classes/class-search.php
  tests/search/includes/classes/test-class-search.php
Labels: [Status] Ready to Deploy, [Component] Search

#2585 Tighten alloptions alerts
  alloptions-limit.php
  wp-cli/alloptions.php
Labels: [Type] Enhancement, [Status] Ready to Deploy, [Component] Query Monitor

#2625 Add more powerful test runner for local development
  bin/test.sh
Labels: [Type] Enhancement, [Status] Needs Review, [Component] Tests

#2626 Search: stagger validate-contents job more
  search/includes/classes/class-healthjob.php
Labels: [Status] Needs Review, [Component] Search

#2615 Search Dev Tools: update build tools
  .deployignore
  search/search-dev-tools/.babelrc.json
  search/search-dev-tools/build/assets/close.svg
  search/search-dev-tools/build/assets/favicon.ico
  search/search-dev-tools/build/assets/icon.png
  search/search-dev-tools/build/assets/lg.svg
  search/search-dev-tools/build/assets/minus.svg
  search/search-dev-tools/build/assets/plus.svg
  search/search-dev-tools/build/assets/wpvip.svg
  search/search-dev-tools/build/bundle.css
  search/search-dev-tools/build/bundle.js
  search/search-dev-tools/build/favicon.ico
  search/search-dev-tools/build/polyfills.js
  search/search-dev-tools/package-lock.json
  search/search-dev-tools/package.json
  search/search-dev-tools/postcss.config.js
  search/search-dev-tools/preact.config.js
  search/search-dev-tools/src/assets/close.svg
  search/search-dev-tools/src/assets/lg.svg
  search/search-dev-tools/src/assets/minus.svg
  search/search-dev-tools/src/assets/plus.svg
  search/search-dev-tools/src/assets/wpvip.svg
  search/search-dev-tools/src/template.html
  search/search-dev-tools/webpack.config.js
Labels: [Type] Enhancement, [Status] Ready to Deploy, dependencies

#2627 Search: filter__ep_do_intercept_request: Account for $failures parameter
  search/includes/classes/class-search.php
  tests/search/includes/classes/test-class-search.php
Labels: [Component] Search

#2628 Remove call to removed function
  wp-cli/alloptions.php
Labels: [Status] Ready to Deploy

#2629 Search: Check object exists before attempting to delete object
  search/includes/classes/class-versioning.php
  tests/search/includes/classes/test-class-versioning.php
Labels: [Status] Ready to Deploy, [Component] Search

#2631 Search: Do not log on $indexable->get() for non-existent posts
  search/includes/classes/class-search.php
  tests/search/includes/classes/test-class-search.php
Labels: [Status] Ready to Deploy, [Component] Search

#2599 [CANTINA-820] VIP Search: Implement Queue Priorities
  search/includes/classes/class-health.php
  search/includes/classes/class-queue.php
  search/includes/classes/class-search.php
  search/includes/classes/class-versioning.php
  search/includes/classes/queue/class-cron.php
  tests/search/includes/classes/queue/test-class-cron.php
  tests/search/includes/classes/test-class-queue.php
Labels: [Type] Enhancement, [Status] Ready to Deploy, [Component] Search

#2630 Remove XDebug and Speed Up CI
  .circleci/config.yml
  bin/test.sh
  tests/bootstrap.php
  tests/cache/mock-header.php
  tests/cache/test-vary-cache.php
  tests/files/acl/mock-header.php
  tests/files/acl/test-acl.php
  tests/mock-header.php
  tests/search/includes/classes/mock-header.php
  tests/search/includes/classes/test-class-search.php
Labels: [Status] Ready to Deploy, [Type] Maintenance, [Component] Tests

#2637 Search: sync es-wp-query subtree with latest master
  search/es-wp-query/adapters/wpcom-vip.php
  search/es-wp-query/class-es-wp-tax-query.php
  search/es-wp-query/functions.php
Labels: [Component] Search

#2632 Fix validate contents on delete
  search/includes/classes/class-health.php
Labels: [Status] Ready to Deploy, [Component] Search

#2634 Update jetpack connection pilot provisioning
  jetpack-start.php
  jetpack-start/bin/partner-cancel.sh
  jetpack-start/bin/partner-provision.sh
  jetpack-start/jetpack-start.php
  jetpack-start/wp-cli-api.php
  jetpack-start/wp-cli-provision.php
  vip-jetpack/connection-pilot/bin/partner-provision.sh
  vip-jetpack/connection-pilot/class-jetpack-connection-cli.php
  vip-jetpack/connection-pilot/class-jetpack-connection-controls.php
  vip-jetpack/connection-pilot/class-jetpack-connection-pilot.php
Labels: [Status] Ready to Deploy

#2641 Remove extra arguments passed to filter__ep_pre_request_host()
  tests/search/includes/classes/test-class-search.php
Labels: [Type] Bug, [Component] Search, [Component] Tests

#2619 Add :preserveSemverRanges preset to renovate.json
  renovate.json
Labels: dependencies, [Status] No files to Deploy

#2639 Cleanup JP connection pilot cron registration & run conditions
  000-vip-init.php
  vip-jetpack/connection-pilot/class-jetpack-connection-pilot.php
Labels: [Status] Ready to Deploy

#2642 Make Alerts more testable
  lib/utils/class-alerts.php
  tests/lib/utils/class-testable-alerts.php
  tests/lib/utils/test-alerts.php
Labels: [Status] Ready to Deploy, [Type] Maintenance, [Component] Tests

#2643 Refactor mail tests
  tests/test-vip-mail.php
Labels: [Type] Maintenance, [Component] Tests

#2645 Refactor Logger tests
  tests/logstash/class-testable-logger.php
  tests/logstash/test-logger.php
Labels: [Type] Maintenance, [Component] Tests

#2646 Refactor password tests
  tests/security/test-password.php
Labels: [Status] Needs Review, [Type] Maintenance, [Component] Tests

#2647 Refactor term purging tests
  tests/test-cache-purge-term.php
Labels: [Status] Needs Review, [Type] Maintenance, [Component] Tests

#2649 Fix and refactor IP Forward tests
  lib/proxy/ip-forward.php
  tests/bootstrap.php
  tests/lib/proxy/class-ip-forward-test-base.php
  tests/lib/proxy/test-fix-remote-address-from-ip-trail-with-verification-key.php
  tests/lib/proxy/test-fix-remote-address-with-verification-key.php
  tests/lib/proxy/test-get-ip-addresses-from-ip-trail.php
  tests/lib/proxy/test-get-proxy-verification-key.php
  tests/lib/proxy/test-ip-forward.php
  tests/lib/proxy/test-is-valid-proxy-verification-key.php
  tests/proxy-helpers.php
  tests/test-lib-proxy-ip-forward.php
Labels: [Type] Bug, [Status] Needs Review, [Component] Security, [Component] Tests

#2650 Use the production build, not the development one
  search/search-dev-tools/build/bundle.js
Labels: [Type] Bug, [Status] Ready to Deploy

#2651 Refactor tests for private sites and Lockout component
  security/class-lockout.php
  security/class-private-sites.php
  tests/bootstrap.php
  tests/mock-constants.php
  tests/security/test-class-private-sites.php
  tests/security/test-lockout.php
Labels: [Status] Ready to Deploy, [Type] Maintenance, [Component] Security, [Component] Tests

#2655 Search: Make constants used for the healthcheck job more descriptive
  search/includes/classes/class-healthjob.php
Labels: [Status] Ready to Deploy, [Type] Maintenance, [Component] Search

#2654 Add a check for the production version of search devtools
  .circleci/config.yml
Labels: [Type] Maintenance, [Component] Tests, [Status] No files to Deploy

#2653 Run VIP Cache Manager tests in a single process
  tests/test-vip-cache-manager.php
Labels: [Type] Maintenance, [Component] Tests, [Status] No files to Deploy

#2657 Search: Add lock if there is already an ongoing healthcheck
  search/includes/classes/class-healthjob.php
  tests/search/includes/classes/test-class-healthjob.php
Labels: [Status] Ready to Deploy, [Component] Search

#2658 Refactor Environment tests
  tests/lib/environment/test-class-environment.php
  tests/lib/helpers/test-environment.php
  tests/mock-constants.php
Labels: [Type] Maintenance, [Component] Tests

#2656 Refactor Context tests
  lib/utils/class-context.php
  tests/lib/environment/test-class-environment.php
  tests/lib/helpers/test-environment.php
  tests/lib/utils/context.php
  tests/mock-constants.php
Labels: [Type] Maintenance, [Component] Tests

#2652 Search: Cache index_exists requests
  search/includes/classes/class-search.php
Labels: [Component] Search

#2660 Refactor Vary Cache tests
  cache/class-vary-cache.php
  tests/cache/test-vary-cache.php
  tests/mock-constants.php
Labels: [Status] Needs Review, [Type] Maintenance, [Component] Cache Personalization, [Component] Tests

#2644 Search: query ES for the last post ID in get_last_post_id()
  search/includes/classes/class-health.php
  tests/search/includes/classes/test-class-health.php
Labels: [Status] Ready to Deploy, [Component] Search

#2662 CANTINA-832: Search: Remove healthcheck for counts
  search/includes/classes/class-healthjob.php
  tests/search/includes/classes/test-class-healthjob.php
Labels: [Component] Search

#2663 Update test runner
  bin/test.sh
Labels: [Status] Ready to Deploy, [Type] Maintenance, [Component] Tests

#2640 Update lint-staged from 11.2.6 to 12.1.2
  package-lock.json
  package.json
Labels: [Status] Needs Review, dependencies, [Type] Maintenance

#2664 Use ghcr.io/automattic/vip-container-images/mariadb-lite:10.3 image
  .circleci/config.yml
Labels: [Type] Enhancement, [Status] No files to Deploy
