Repository Automattic/vip-go-mu-plugins, pull requests merged in 2021-12, with the labels that each got.

#2676 Updating Parsely 3.0 to 3.0.0-RC2
  .deployignore
  wp-parsely-3.0/.github/dependabot.yml
  wp-parsely-3.0/.github/workflows/deploy.yml
  wp-parsely-3.0/.github/workflows/e2e-tests.yml
  wp-parsely-3.0/.github/workflows/node.js.yml
  wp-parsely-3.0/CHANGELOG.md
  wp-parsely-3.0/README.md
  wp-parsely-3.0/src/UI/class-settings-page.php
  wp-parsely-3.0/src/class-parsely.php
  wp-parsely-3.0/tests/e2e/README.md
  wp-parsely-3.0/tests/e2e/specs/activation-flow.spec.js
  wp-parsely-3.0/tests/e2e/specs/plugin-action-link.spec.js
  wp-parsely-3.0/tests/e2e/specs/recommended-widget.spec.js
  wp-parsely-3.0/tests/e2e/utils.js
  wp-parsely-3.0/wp-parsely.php
Labels: [Status] Needs Review, [Component] Parse.ly

#2678 Ensure the file exists before trying to delete it
  001-core/privacy.php
Labels: [Type] Bug, [Status] Ready to Deploy

#2661 Run tests in a random order
  .circleci/config.yml
  phpunit.xml
  search/includes/classes/class-queue.php
  search/includes/classes/class-search.php
  search/includes/classes/queue/class-schema.php
  tests/admin-notice/conditions/test-class-wp-version-condition.php
  tests/bootstrap.php
  tests/class-speedup-isolated-wp-tests.php
  tests/files/acl/test-acl.php
  tests/files/test-image-sizes.php
  tests/parsely/test-mu-parsely-integration.php
  tests/search/includes/classes/queue/test-class-cron.php
  tests/search/includes/classes/test-class-cache.php
  tests/search/includes/classes/test-class-health.php
  tests/search/includes/classes/test-class-queue.php
  tests/search/includes/classes/test-class-search.php
  tests/search/includes/classes/test-class-settingshealthjob.php
  tests/search/includes/classes/test-class-versioningcleanupjob.php
  tests/test-core.php
  tests/test-vip-mail.php
Labels: [Status] Needs Review, [Type] Maintenance, [Component] Tests

#2683 Adds "VIP_AKISMET_SKIP_LOAD" constant to allow disabling of Akismet
  akismet.php
Labels: [Status] Ready to Deploy, [Component] Akismet

#2668 Fix incompatibilities with PHP 8.1
  000-debug/debug-mode.php
  search/includes/classes/class-search.php
  vip-helpers/class-user-cleanup.php
  vip-helpers/vip-utils.php
Labels: [Type] Enhancement, [Status] Needs Review, PHP Compatibility

#2675 Update dependencies
  search/search-dev-tools/build/bundle.js
  search/search-dev-tools/package-lock.json
  search/search-dev-tools/package.json
Labels: [Status] Needs Review, dependencies

#2684 Switch to the new phpunit runner
  README.md
  bin/phpunit-docker.sh
Labels: [Type] Maintenance, [Status] No files to Deploy

#2610 Exclude private taxonomies via filter
  search/includes/classes/class-search.php
Labels: [Status] Has Feedback, [Component] Search

#2689 Make use_ambiguous_login_error() more tolerant to broken user code
  security/login-error.php
Labels: [Type] Enhancement, [Status] Ready to Deploy, [Component] Security

#2685 Speed up WP core tests
  .circleci/config.yml
Labels: [Type] Maintenance, [Component] Tests, [Status] No files to Deploy

#2691 Increase the logstash limit to 100 in web and 500 in CLI contexts and set 'http_user_agent' based on _SERVER['HTTP_USER_AGENT']
  logstash/class-logger.php
  tests/logstash/test-logger.php
Labels: [Status] Ready to Deploy, [Status] Needs Changelog

#2698 Reduce the maximum amount of jobs to 3 to reduce indexing pressure
  search/includes/classes/queue/class-cron.php
  tests/search/includes/classes/queue/test-class-cron.php
Labels: [Status] Ready to Deploy, [Component] Search

#2693 Using channels
  .circleci/config.yml
Labels: [Status] Ready to Deploy, [Status] No files to Deploy

#2697 Wrapped Connection_Pilot\Controls::connect_akismet() in conditional
  vip-jetpack/connection-pilot/class-jetpack-connection-cli.php
  vip-jetpack/connection-pilot/class-jetpack-connection-pilot.php
Labels: [Status] Ready to Deploy, [Component] Jetpack, [Component] Akismet

#2699 Add homeUrl field to Site Details Sync
  config/class-site-details-index.php
Labels: [Status] Ready to Deploy, [Component] Site Details

#2701 Search: remove additional logging
  search/includes/classes/class-search.php
Labels: [Status] Ready to Deploy, [Component] Search

#2690 Search: Remove hook to automatically create index for new blogs on multisites
  search/includes/classes/class-search.php
Labels: [Status] Ready to Deploy, [Component] Search

#2695 Search: Do not sync if index does not exist
  search/includes/classes/class-search.php
Labels: [Status] Ready to Deploy, [Component] Search

#2696 Search: Add hard limit on command for setting up multiple indexes at …
  search/includes/classes/commands/class-corecommand.php
Labels: [Status] Needs Review, [Component] Search

#2700 Search: Remove ensure_index_existence
  search/includes/classes/class-search.php
  tests/search/includes/classes/test-class-search.php
Labels: [Status] Needs Review, [Component] Search

#2441 Cron: Action Scheduler Dynamic Queue
  001-cron.php
  cron/action-scheduler-dynamic-queue.php
  cron/cron.php
  vip-woocommerce/vip-woocommerce.php
Labels: [Status] Ready to Deploy

#2709 Update default Jetpack version to 10.4
  jetpack.php
Labels: [Status] Ready to Deploy, [Component] Jetpack

#2638 Jetpack plan: Update VIP object for jetpack_active_plan option
  vip-jetpack/vip-jetpack.php
Labels: [Component] Jetpack

#2692 Add caching to the months dropdown filter for posts
  performance/vip-tweaks.php
Labels: [Status] Ready to Deploy

#2708 Remove ununsed filter / constant to improve user cleanup command
  vip-helpers/class-user-cleanup.php
  wp-cli/class-vip-user-cli-command.php
Labels: [Status] Ready to Deploy

#2711 Use a sub-directory for CF7 uploads to avoid CF7 cleanup deleting unrelated files
  plugin-fixes.php
Labels: [Status] Ready to Deploy

#2714 Update Parse.ly to 3.0
  wp-parsely-3.0/.github/workflows/deploy.yml
  wp-parsely-3.0/.github/workflows/e2e-tests.yml
  wp-parsely-3.0/CHANGELOG.md
  wp-parsely-3.0/README.md
  wp-parsely-3.0/src/class-parsely.php
  wp-parsely-3.0/tests/Integration/OtherTest.php
  wp-parsely-3.0/tests/Integration/TestCase.php
  wp-parsely-3.0/wp-parsely.php
Labels: [Status] Ready to Deploy, [Component] Parse.ly

#2715 Unblocks jobs that are missing scheduled_time
  search/includes/classes/class-queue.php
Labels: [Status] Ready to Deploy, [Component] Search

#2716 Move invariant function calls out of the loop
  search/includes/classes/class-search.php
Labels: [Type] Enhancement, [Status] Needs Review, [Component] Search

#2712 Search: Combine other filters into filter__ep_do_intercept_request
  search/includes/classes/class-search.php
Labels: [Status] Ready to Deploy, [Component] Search

#2713 Search: Add more information to search_http_error logging
  search/includes/classes/class-search.php
Labels: [Component] Search

#2718 Search: For index_exists cached option, only cache if response code is valid
  search/includes/classes/class-search.php
Labels: [Status] Ready to Deploy, [Component] Search

#2706 Add concurrency limit backends
  search/includes/classes/class-concurrency-limiter.php
  search/includes/classes/concurrency-limiter/backendinterface.php
  search/includes/classes/concurrency-limiter/class-apcu-backend.php
  search/includes/classes/concurrency-limiter/class-object-cache-backend.php
  search/includes/classes/concurrency-limiter/class-semaphore-backend.php
  tests/search/includes/classes/class-concurrency-limiter-helper.php
  tests/search/includes/classes/test-concurrency-limiter.php
Labels: [Type] Enhancement, [Status] Needs Review, [Component] Search

#2723 github actions
  .github/workflows/learn-github-actions.yml
Labels: [Status] No files to Deploy

#2724 Changelog creator action
  .github/workflows/learn-github-actions.yml
  .github/workflows/release-changelog.yml
  bin/mark-production-changelog.js
  bin/package-lock.json
  bin/package.json
Labels: [Status] Needs Review, [Status] No files to Deploy

#2725 Search: Do not alert as an error if content validation is already ongoing
  search/includes/classes/class-healthjob.php
Labels: [Status] Ready to Deploy, [Component] Search

#2720 Search: Alert if we don't have a queue count value cached OR if the queue count isn't decreasing
  search/includes/classes/class-search.php
Labels: [Status] Needs Review, [Component] Search

#2726 Search: remove autohealing alert
  search/includes/classes/class-healthjob.php
Labels: [Component] Search

#2722 Do not sync index on fake term updates
  search/includes/classes/class-search.php
  search/includes/classes/class-syncmanager-helper.php
  tests/search/includes/classes/test-syncmanager-helper.php
Labels: [Type] Enhancement, [Status] Ready to Deploy, [Component] Search

#2727 Update Parse.ly to 3.0.1
  wp-parsely-3.0/CHANGELOG.md
  wp-parsely-3.0/README.md
  wp-parsely-3.0/src/class-parsely.php
  wp-parsely-3.0/tests/Integration/OtherTest.php
  wp-parsely-3.0/wp-parsely.php
Labels: [Status] Ready to Deploy, [Component] Parse.ly

#2682 e2e tests: Initial framework, tests, and CI integration
  .github/workflows/e2e.yml
  .gitignore
  .lintstagedrc
  __tests__/e2e/.eslintrc.js
  __tests__/e2e/README.md
  __tests__/e2e/bin/setup-env.sh
  __tests__/e2e/lib/components/wp-admin-sidebar-component.ts
  __tests__/e2e/lib/data-helper.ts
  __tests__/e2e/lib/global-setup.ts
  __tests__/e2e/lib/pages/page-list-page.ts
  __tests__/e2e/lib/pages/post-list-page.ts
  __tests__/e2e/lib/pages/published-page-page.ts
  __tests__/e2e/lib/pages/published-post-page.ts
  __tests__/e2e/lib/pages/settings-writing-page.ts
  __tests__/e2e/lib/pages/wp-admin-page.ts
  __tests__/e2e/lib/pages/wp-classic-editor-page.ts
  __tests__/e2e/lib/pages/wp-editor-page.ts
  __tests__/e2e/lib/pages/wp-login-page.ts
  __tests__/e2e/lib/wp-api-helper.ts
  __tests__/e2e/playwright.config.ts
  __tests__/e2e/specs/page__edit.spec.ts
  __tests__/e2e/specs/page__publish.spec.ts
  __tests__/e2e/specs/page_classic__publish.spec.ts
  __tests__/e2e/specs/post__edit.spec.ts
  __tests__/e2e/specs/post__publish.spec.ts
  __tests__/e2e/specs/post_classic__publish.spec.ts
  package-lock.json
  package.json
  phpcs.xml.dist
Labels: [Type] Enhancement, [Status] Needs Review, [Component] Tests

#2729 e2e:Allow specifying WP version for manual runs.
  .github/workflows/e2e.yml
Labels: [Type] Bug, [Status] Ready to Deploy, [Component] Tests

#2731 Search: rework the queue command, remove the stress-queue subcommand and introduce purge subcommand
  search/includes/classes/commands/class-queuecommand.php
Labels: [Status] Ready to Deploy

#2694 Use microseconds to store the timestamp for site details sync
  config/class-site-details-index.php
  tests/config/test-site-details-index.php
Labels: [Status] Needs Review, [Component] Site Details

#2703 Implement concurrency limit for ES
  bin/test.sh
  search/includes/classes/class-concurrency-limiter.php
  search/includes/classes/class-search.php
  search/includes/classes/concurrency-limiter/backendinterface.php
  search/includes/classes/concurrency-limiter/class-apcu-backend.php
  search/includes/classes/concurrency-limiter/class-object-cache-backend.php
  search/includes/classes/concurrency-limiter/class-semaphore-backend.php
  tests/search/includes/classes/test-concurrency-limiter.php
Labels: [Type] Enhancement, [Status] Ready to Deploy, [Component] Search

#2738 Search: Add response code and message if available
  search/includes/classes/class-search.php
  tests/search/includes/classes/test-class-search.php
Labels: [Status] Ready to Deploy, [Component] Search

#2728 testingOutputs
  .github/workflows/release-changelog.yml
  bin/create-next-release-tag.sh
  bin/create-release.sh
  bin/mark-production-changelog.js
Labels: [Status] Needs Review, [Status] No files to Deploy

#2740 Ignore __tests__ in .deployignore
  .deployignore
Labels: [Status] Ready to Deploy

#2739 Search: Fix is_cli logic in filter__ep_do_intercept_request
  search/includes/classes/class-search.php
Labels: [Status] Ready to Deploy, [Component] Search

#2732 Replace $_ENV with getenv()
  000-vip-init.php
Labels: [Type] Enhancement, [Status] Ready to Deploy, PHP Compatibility

#2742 Fix tests for WP trunk
  tests/search/includes/classes/test-class-versioning.php
Labels: [Type] Maintenance, [Component] Tests, [Status] No files to Deploy

#2597 Search: Better request handling and caching
  search/includes/classes/class-search.php
  tests/search/includes/classes/test-class-search.php
Labels: [Status] Ready to Deploy, [Component] Search

#2743 Search: Basic request cache invalidation via last_changed approach
  search/includes/classes/class-search.php
  search/includes/classes/class-syncmanager-helper.php
Labels: [Status] Ready to Deploy, [Component] Search

#2746 Exclude cron-control-next-v2 from linting
  phpcs.xml.dist
Labels: [Type] Bug, [Component] Code Standards, [Status] No files to Deploy

#2745 Add logging to concurrency limiter
  search/includes/classes/class-concurrency-limiter.php
  search/includes/classes/concurrency-limiter/class-object-cache-backend.php
Labels: [Status] Ready to Deploy, [Component] Search

#2741 Bump concurrency limit
  search/includes/classes/class-concurrency-limiter.php
Labels: [Status] Ready to Deploy, [Component] Search

#2749 Support Composer 2.2
  composer.json
Labels: [Status] Needs Review, [Type] Maintenance

#2754 Remove/travis mentiones from ci
  ci/deploy.sh
Labels: [Status] Needs Review

#2750 Fix flaky test
  tests/search/includes/classes/test-class-queue.php
Labels: [Type] Bug, [Component] Tests, [Status] No files to Deploy

#2751 Update PHP transient development dependencies
  composer.lock
Labels: dependencies, [Type] Maintenance, [Status] No files to Deploy

#2755 Fix X-Forwarded-For in VIP_Request_Block
  lib/class-vip-request-block.php
  tests/lib/test-vip-request-block.php
Labels: [Type] Bug, [Type] Maintenance, [Component] Security

#2747 Search Dev Tools: Update dependencies
  search/search-dev-tools/package-lock.json
Labels: [Type] Enhancement, [Status] Needs Review, [Status] No files to Deploy

#2748 Use Context for request type checks
  000-pre-vip-config/requires.php
  000-vip-init.php
  001-cron.php
  a8c-files.php
  alloptions-limit.php
  async-publish-actions.php
  config/class-sync.php
  files/class-api-client.php
  lib/class-apc-cache-interceptor.php
  logstash/class-logger.php
  search/includes/classes/class-concurrency-limiter.php
  search/includes/classes/class-health.php
  search/includes/classes/class-search.php
  search/includes/classes/queue/class-cron.php
  search/includes/classes/queue/class-schema.php
  security/class-private-sites.php
  tests/bootstrap.php
  two-factor.php
  vip-helpers/vip-newrelic.php
  vip-helpers/vip-notoptions-mitigation.php
  vip-helpers/vip-utils.php
  vip-jetpack/connection-pilot/class-jetpack-connection-pilot.php
  vip-jetpack/vip-jetpack.php
  wp-cli.php
Labels: [Status] Needs Review, [Type] Maintenance

#2759 Retrieve all existing tags before push
  .github/workflows/release-changelog.yml
Labels: [Status] Needs Review, [Type] Maintenance

#2760 More robust tag generation
  .github/workflows/release-changelog.yml
  bin/create-next-release-tag.sh
Labels: [Type] Enhancement, [Status] Needs Review

#2761 Fix concurrency limit value increment
  search/includes/classes/concurrency-limiter/class-object-cache-backend.php
Labels: [Type] Bug, [Status] Ready to Deploy, [Component] Search

#2762 Search: fix a typo resulting in 'Unknown error type' in logs
  search/includes/classes/class-search.php
Labels: [Component] Search

#2764 Retrieve tags before trying to list them
  .github/workflows/release-changelog.yml
Labels: [Type] Bug, [Type] Maintenance

#2765 Add more logging
  search/includes/classes/concurrency-limiter/class-object-cache-backend.php
Labels: [Status] Ready to Deploy

#2756 VIP Request Block: handle different IPv6 notations
  lib/class-vip-request-block.php
  tests/lib/test-vip-request-block.php
Labels: [Type] Enhancement, [Status] Ready to Deploy, [Component] Security
