Repository Automattic/vip-go-mu-plugins, pull requests merged in 2022-03, with the labels that each got.

#2949 Detect if new Parse.ly versions are manually loaded
  wp-parsely.php
Labels: [Status] Ready to Deploy, [Component] Parse.ly

#2950 Upgrading Akismet to 4.2.2
  akismet/akismet.php
  akismet/class.akismet.php
  akismet/readme.txt
Labels: [Status] Ready to Deploy, [Component] Akismet

#2953 e2e: Move to node 14 to fix issues with VIP CLI
  .github/workflows/e2e.yml
Labels: [Status] Needs Review

#2939 Search: Add get-last-indexed-post-id command to check the last object ID indexed
  search/includes/classes/class-search.php
  search/includes/classes/commands/class-corecommand.php
Labels: [Status] Ready to Deploy, [Component] Search

#2952 Make Jetpack 10.7 the default version
  jetpack-10.7/CHANGELOG.md
  jetpack-10.7/_inc/build/admin.asset.php
  jetpack-10.7/_inc/build/admin.js
  jetpack-10.7/class.jetpack.php
  jetpack-10.7/composer.json
  jetpack-10.7/jetpack.php
  jetpack-10.7/jetpack_vendor/automattic/jetpack-my-jetpack/CHANGELOG.md
  jetpack-10.7/jetpack_vendor/automattic/jetpack-my-jetpack/build/images/extras-26daf36507504c96d066.png
  jetpack-10.7/jetpack_vendor/automattic/jetpack-my-jetpack/build/index.asset.php
  jetpack-10.7/jetpack_vendor/automattic/jetpack-my-jetpack/build/index.css
  jetpack-10.7/jetpack_vendor/automattic/jetpack-my-jetpack/build/index.js
  jetpack-10.7/jetpack_vendor/automattic/jetpack-my-jetpack/build/index.rtl.css
  jetpack-10.7/jetpack_vendor/automattic/jetpack-my-jetpack/src/class-initializer.php
  jetpack-10.7/jetpack_vendor/automattic/jetpack-my-jetpack/src/class-products.php
  jetpack-10.7/jetpack_vendor/automattic/jetpack-my-jetpack/src/class-rest-products.php
  jetpack-10.7/jetpack_vendor/automattic/jetpack-my-jetpack/src/products/class-backup.php
  jetpack-10.7/jetpack_vendor/automattic/jetpack-my-jetpack/src/products/class-extras.php
  jetpack-10.7/jetpack_vendor/automattic/jetpack-my-jetpack/src/products/class-hybrid-product.php
  jetpack-10.7/jetpack_vendor/automattic/jetpack-search/CHANGELOG.md
  jetpack-10.7/jetpack_vendor/automattic/jetpack-search/build/customberg/jp-search-configure.asset.php
  jetpack-10.7/jetpack_vendor/automattic/jetpack-search/build/customberg/jp-search-configure.js
  jetpack-10.7/jetpack_vendor/automattic/jetpack-search/build/instant-search/jp-search.asset.php
  jetpack-10.7/jetpack_vendor/automattic/jetpack-search/build/instant-search/jp-search.chunk-main-payload.js
  jetpack-10.7/jetpack_vendor/automattic/jetpack-search/build/instant-search/jp-search.js
  jetpack-10.7/jetpack_vendor/automattic/jetpack-search/search.php
  jetpack-10.7/jetpack_vendor/automattic/jetpack-status/CHANGELOG.md
  jetpack-10.7/jetpack_vendor/automattic/jetpack-status/src/class-status.php
  jetpack-10.7/jetpack_vendor/i18n-map.php
  jetpack-10.7/modules/publicize/publicize.php
  jetpack-10.7/readme.txt
  jetpack-10.7/vendor/autoload.php
  jetpack-10.7/vendor/autoload_packages.php
  jetpack-10.7/vendor/composer/autoload_files.php
  jetpack-10.7/vendor/composer/autoload_real.php
  jetpack-10.7/vendor/composer/autoload_static.php
  jetpack-10.7/vendor/composer/installed.json
  jetpack-10.7/vendor/composer/installed.php
  jetpack-10.7/vendor/composer/jetpack_autoload_classmap.php
  jetpack-10.7/vendor/composer/jetpack_autoload_filemap.php
  jetpack-10.7/vendor/jetpack-autoloader/class-autoloader-handler.php
  jetpack-10.7/vendor/jetpack-autoloader/class-autoloader-locator.php
  jetpack-10.7/vendor/jetpack-autoloader/class-autoloader.php
  jetpack-10.7/vendor/jetpack-autoloader/class-container.php
  jetpack-10.7/vendor/jetpack-autoloader/class-hook-manager.php
  jetpack-10.7/vendor/jetpack-autoloader/class-latest-autoloader-guard.php
  jetpack-10.7/vendor/jetpack-autoloader/class-manifest-reader.php
  jetpack-10.7/vendor/jetpack-autoloader/class-path-processor.php
  jetpack-10.7/vendor/jetpack-autoloader/class-php-autoloader.php
  jetpack-10.7/vendor/jetpack-autoloader/class-plugin-locator.php
  jetpack-10.7/vendor/jetpack-autoloader/class-plugins-handler.php
  jetpack-10.7/vendor/jetpack-autoloader/class-shutdown-handler.php
  jetpack-10.7/vendor/jetpack-autoloader/class-version-loader.php
  jetpack-10.7/vendor/jetpack-autoloader/class-version-selector.php
  jetpack.php
Labels: [Status] Ready to Deploy, [Component] Jetpack

#2955 Updating Akismet version number
  akismet.php
Labels: [Status] Needs Review, [Component] Akismet

#2948 Upgrading VaultPress to 2.2.1
  vaultpress.php
  vaultpress/.phpcs.dir.xml
  vaultpress/CHANGELOG.md
  vaultpress/LICENSE.txt
  vaultpress/README.md
  vaultpress/SECURITY.md
  vaultpress/changelog.txt
  vaultpress/composer.json
  vaultpress/images/security.svg
  vaultpress/readme.txt
  vaultpress/vaultpress.php
  vaultpress/vendor/autoload.php
  vaultpress/vendor/autoload_packages.php
  vaultpress/vendor/automattic/jetpack-autoloader/README.md
  vaultpress/vendor/automattic/jetpack-autoloader/composer.json
  vaultpress/vendor/automattic/jetpack-autoloader/src/AutoloadGenerator.php
  vaultpress/vendor/automattic/jetpack-autoloader/src/CustomAutoloaderPlugin.php
  vaultpress/vendor/automattic/jetpack-autoloader/src/autoload.php
  vaultpress/vendor/automattic/jetpack-logo/CHANGELOG.md
  vaultpress/vendor/automattic/jetpack-logo/LICENSE.txt
  vaultpress/vendor/automattic/jetpack-logo/SECURITY.md
  vaultpress/vendor/automattic/jetpack-logo/composer.json
  vaultpress/vendor/automattic/jetpack-logo/src/class-logo.php
  vaultpress/vendor/composer/ClassLoader.php
  vaultpress/vendor/composer/InstalledVersions.php
  vaultpress/vendor/composer/autoload_classmap_package.php
  vaultpress/vendor/composer/autoload_files_package.php
  vaultpress/vendor/composer/autoload_real.php
  vaultpress/vendor/composer/autoload_static.php
  vaultpress/vendor/composer/installed.json
  vaultpress/vendor/composer/installed.php
  vaultpress/vendor/composer/jetpack_autoload_classmap.php
  vaultpress/vendor/jetpack-autoloader/class-autoloader-handler.php
  vaultpress/vendor/jetpack-autoloader/class-autoloader-locator.php
  vaultpress/vendor/jetpack-autoloader/class-autoloader.php
  vaultpress/vendor/jetpack-autoloader/class-container.php
  vaultpress/vendor/jetpack-autoloader/class-hook-manager.php
  vaultpress/vendor/jetpack-autoloader/class-latest-autoloader-guard.php
  vaultpress/vendor/jetpack-autoloader/class-manifest-reader.php
  vaultpress/vendor/jetpack-autoloader/class-path-processor.php
  vaultpress/vendor/jetpack-autoloader/class-php-autoloader.php
  vaultpress/vendor/jetpack-autoloader/class-plugin-locator.php
  vaultpress/vendor/jetpack-autoloader/class-plugins-handler.php
  vaultpress/vendor/jetpack-autoloader/class-shutdown-handler.php
  vaultpress/vendor/jetpack-autoloader/class-version-loader.php
  vaultpress/vendor/jetpack-autoloader/class-version-selector.php
Labels: [Status] Needs Review, [Component] VaultPress

#2958 Search: Update variable name in vip_maybe_backfill_ep_option()
  search/includes/functions/utils.php
Labels: [Status] Needs Review, [Component] Search

#2959 Search: Add temporary command clean-ep-feature-settings before we backfill ep_feature_settings
  search/includes/classes/commands/class-corecommand.php
Labels: [Component] Search

#2962 Rollback default JP version
  jetpack.php
Labels: [Status] Ready to Deploy

#2954 Search: Auto re-building indexes account for pods rolling over
  lib/feature/class-feature.php
  search/includes/classes/class-settingshealthjob.php
  tests/search/includes/classes/test-class-settingshealthjob.php
Labels: [Status] Ready to Deploy, [Component] Search

#2963 Search: Remove call to get_last_sync() since it's being removed
  search/includes/classes/class-health.php
  search/includes/classes/class-healthjob.php
  search/includes/classes/class-settingshealthjob.php
Labels: [Status] Ready to Deploy, [Component] Search

#2965 Search: Index re-building - log instead of alert on successful build and roll out to 25% of non-production
  lib/feature/class-feature.php
  search/includes/classes/class-settingshealthjob.php
Labels: [Status] Needs Review, [Component] Search

#2966 Search: Roll out deleting stale indexes to 25% of prod
  lib/feature/class-feature.php
  search/includes/classes/class-versioningcleanupjob.php
Labels: [Status] Ready to Deploy, [Component] Search

#2969 Remove unnecessary SDS logging
  config/class-site-details-index.php
  config/class-sync.php
Labels: [Status] Ready to Deploy

#2970 Update jetpack 10.7 to 10.7+vip.1
  jetpack-10.7/CHANGELOG.md
  jetpack-10.7/jetpack_vendor/i18n-map.php
  jetpack-10.7/modules/related-posts/jetpack-related-posts.php
  jetpack-10.7/vendor/composer/jetpack_autoload_classmap.php
Labels: [Component] Jetpack

#2971 Jetpack: Make 10.7 default version
  jetpack.php
Labels: [Status] Do not deploy!, [Component] Jetpack

#2978 Search: Make error message more explicit in build_new_index()
  search/includes/classes/class-settingshealthjob.php
Labels: [Status] Ready to Deploy, [Component] Search

#2979 Search: Update add_action to account for build_new_index taking two args
  search/includes/classes/class-settingshealthjob.php
Labels: [Status] Needs Review, [Component] Search

#2982 Search: Roll out deleting stale inactive indexes to 100%
  lib/feature/class-feature.php
  search/includes/classes/class-versioningcleanupjob.php
Labels: [Component] Search

#2984 Search: Roll out rebuilding indexes for 75% of non-production
  lib/feature/class-feature.php
Labels: [Status] Needs Review, [Component] Search

#2985 Search: Remove app_id in logging for deleting stale inactive indexes
  search/includes/classes/class-versioningcleanupjob.php
Labels: [Status] Ready to Deploy, [Component] Search

#2986 Search: Roll out rebuilding indexes to 100% of non-production
  lib/feature/class-feature.php
  search/includes/classes/class-settingshealthjob.php
Labels: [Status] Needs Review, [Component] Search

#2990 Search: Index re-building for 10% of prod
  lib/feature/class-feature.php
  search/includes/classes/class-settingshealthjob.php
Labels: [Status] Needs Review, [Component] Search

#2913 Search: add a few headers to allow to better identify the requests
  search/includes/classes/class-search.php
Labels: [Status] Ready to Deploy, [Component] Search

#2991 Add support for WP 6.0's attachment filesize changes
  a8c-files.php
  files/class-image-sizes.php
  files/class-image.php
  files/class-vip-filesystem.php
  tests/files/test-image-sizes.php
  tests/files/test-image.php
Labels: [Status] Ready to Deploy

#2997 Updating Parse.ly 3.1 branch to 3.1.3
  wp-parsely-3.1/CHANGELOG.md
  wp-parsely-3.1/README.md
  wp-parsely-3.1/package-lock.json
  wp-parsely-3.1/package.json
  wp-parsely-3.1/src/class-parsely.php
  wp-parsely-3.1/tests/e2e/utils.js
  wp-parsely-3.1/wp-parsely.php
Labels: [Status] Needs Review, [Component] Parse.ly

#3000 Updated “Powered by” footer images
  vip-helpers/images/vip-powered-dark-long.png
  vip-helpers/images/vip-powered-dark-normal.png
  vip-helpers/images/vip-powered-dark-small.png
  vip-helpers/images/vip-powered-light-long.png
  vip-helpers/images/vip-powered-light-normal.png
  vip-helpers/images/vip-powered-light-small.png
  vip-helpers/vip-utils.php
Labels: [Status] Ready to Deploy

#3001 Search: Fix invalid value of "orderby" for Users query
  search/includes/classes/class-health.php
Labels: [Status] Needs Review, [Component] Search

#2995 Search: Add X-Opaque-Id header for ES Task API
  search/includes/classes/class-search.php
Labels: [Component] Search

#2998 Search: Roll out index rebuilding to 75% of production
  lib/feature/class-feature.php
Labels: [Status] Ready to Deploy, [Component] Search

#2999 Search: Do healthcheck on inactive indexes and build new index only for active indexes
  search/includes/classes/class-health.php
  search/includes/classes/class-settingshealthjob.php
  tests/search/includes/classes/test-class-settingshealthjob.php
Labels: [Status] Ready to Deploy, [Component] Search

#3003 Search: Add alerting to detect when no origin DC detected
  search/includes/classes/class-search.php
Labels: [Status] Ready to Deploy, [Component] Search

#2989 Production changelog
  .github/workflows/release-changelog.yml
  bin/mark-production-changelog.js
Labels: [Status] Ready to Deploy

#3007 Search: Roll out index re-building everywhere
  lib/feature/class-feature.php
  search/includes/classes/class-settingshealthjob.php
Labels: [Status] Needs Review, [Component] Search

#3010 wp-admin: add notice for Jetpack Search migrations
  admin-notice/admin-notice.php
  admin-notice/class-admin-notice.php
Labels: [Status] Ready to Deploy, [Component] Search

#3013 CircleCI: Bump WP_VERSIONs
  .circleci/config.yml
Labels: [Status] Needs Review, [Component] Tests, [Status] No files to Deploy

#3012 VIP Feed Cache: Fix PHP 8 error non-static method VIP_Go_Feed_Cache::create() cannot be called statically
  tests/vip-feed-cache/test-vip-feed-cache.php
  tests/vip-feed-cache/test.rss
  vip-feed-cache.php
  vip-feed-cache/class-vip-go-feed-cache.php
  vip-feed-cache/class-vip-go-feed-transient.php
Labels: [Status] Needs Review, PHP Compatibility

#3023 wp-admin: Do not display Search Migrations admin notice for extensions
  admin-notice/admin-notice.php
  admin-notice/class-admin-notice.php
Labels: [Status] Ready to Deploy

#3024 Use getallheaders() if available instead of _SERVER superglobal when setting extra headers for Search requests
  search/includes/classes/class-search.php
Labels: [Status] Ready to Deploy, [Component] Search

#3025 Parse.ly version manager downloads from WordPress.org
  bin/manage-wp-parsely-subtree.sh
Labels: [Component] Parse.ly, [Status] No files to Deploy

#3027 Search: Load vip-search adapter no matter what
  search/es-wp-query/adapters/jetpack-search.php
  search/es-wp-query/adapters/searchpress.php
  search/es-wp-query/adapters/travis.php
  search/es-wp-query/functions.php
Labels: [Component] Search
