Repository Automattic/vip-go-mu-plugins, pull requests merged in 2022-02, with the labels that each got.

#2856 Update dependencies
  composer.lock
  package-lock.json
  package.json
  search/search-dev-tools/build/bundle.js
  search/search-dev-tools/package-lock.json
  search/search-dev-tools/package.json
Labels: dependencies, [Type] Maintenance

#2847 Add E2E tests for Search Dev Tools
  __tests__/e2e/bin/setup-env.sh
  __tests__/e2e/lib/pages/search-page.ts
  __tests__/e2e/lib/playwright-helpers.ts
  __tests__/e2e/specs/searchdevtools.spec.ts
Labels: [Status] Needs Review, [Type] Maintenance, [Component] Tests

#2869 Allow for using VIP Filesystem Wrapper before plugins_loaded fires
  files/class-api-client.php
Labels: [Type] Bug, [Status] Needs Review

#2873 Search: Remove logging for 401
  search/includes/classes/class-search.php
Labels: [Status] Ready to Deploy

#2870 Better detection of file MIME type
  files/class-api-client.php
Labels: [Type] Enhancement, [Status] Ready to Deploy

#2872 Search: Re-factor build_new_index() to not use WP_CLI::runcommand()
  search/includes/classes/class-settingshealthjob.php
  tests/search/includes/classes/test-class-settingshealthjob.php
Labels: [Status] Ready to Deploy, [Component] Search

#2875 Defer Concurrency Limiter initialization until 'init'
  search/includes/classes/class-concurrency-limiter.php
Labels: [Type] Bug, [Status] Ready to Deploy, [Component] Search

#2878 Search: Add wrapper function to get related posts
  search/includes/functions/utils.php
  search/search.php
Labels: [Component] Search

#2879 fix `wp vip files update-filesizes` to include pre-VIP uploaded PDF attachments
  files/class-meta-updater.php
Labels: [Status] Ready to Deploy

#2883 Remove the unused private method count_indexable_posts()
  search/includes/classes/class-healthjob.php
Labels: [Status] Ready to Deploy, [Type] Maintenance

#2885 Search: Delete inactive stale indexes
  search/includes/classes/class-versioningcleanupjob.php
  tests/search/includes/classes/test-class-versioningcleanupjob.php
Labels: [Status] Ready to Deploy, [Component] Search

#2884 E2E: Add testing of Media in pages, posts and directly
  __tests__/e2e/lib/pages/media-upload-page.ts
  __tests__/e2e/lib/pages/published-page-page.ts
  __tests__/e2e/lib/pages/published-post-page.ts
  __tests__/e2e/lib/pages/wp-classic-editor-page.ts
  __tests__/e2e/lib/pages/wp-editor-page.ts
  __tests__/e2e/specs/media__add.spec.ts
  __tests__/e2e/specs/page__publish.spec.ts
  __tests__/e2e/specs/page_classic__publish.spec.ts
  __tests__/e2e/specs/post__publish.spec.ts
  __tests__/e2e/specs/post_classic__publish.spec.ts
  __tests__/e2e/test_media/image_01.jpg
  __tests__/e2e/test_media/image_02.jpg
Labels: [Component] Tests, [Status] No files to Deploy

#2871 Setting Parse.ly 3.1 as the default version
  wp-parsely.php
Labels: [Status] Ready to Deploy, [Component] Parse.ly

#2888 Update Parse.ly to 3.1.1
  wp-parsely-3.1/CHANGELOG.md
  wp-parsely-3.1/README.md
  wp-parsely-3.1/build/init-api.asset.php
  wp-parsely-3.1/build/recommended-widget.asset.php
  wp-parsely-3.1/package-lock.json
  wp-parsely-3.1/package.json
  wp-parsely-3.1/src/UI/class-admin-bar.php
  wp-parsely-3.1/src/UI/class-recommended-widget.php
  wp-parsely-3.1/src/class-dashboard-link.php
  wp-parsely-3.1/tests/Integration/DashboardLinkTest.php
  wp-parsely-3.1/tests/Integration/UI/AdminBarTest.php
  wp-parsely-3.1/tests/e2e/specs/recommended-widget.spec.js
  wp-parsely-3.1/tests/e2e/utils.js
  wp-parsely-3.1/wp-parsely.php
Labels: [Status] Ready to Deploy, [Component] Parse.ly

#2887 Feature: Add enabling or disabling by ID
  lib/feature/class-feature.php
  tests/lib/feature/test-class-feature.php
  tests/mock-constants.php
Labels: [Status] Ready to Deploy

#2882 CANTINA-306: deprecate wpcom_vip_irc()
  a8c-files.php
  lib/class-vip-encloseme-cleanup.php
  phpcs.xml.dist
  search/includes/classes/class-healthjob.php
  search/includes/classes/class-settingshealthjob.php
  vip-helpers/vip-utils.php
  vip-jetpack/connection-pilot/class-jetpack-connection-pilot.php
Labels: [Type] Enhancement, [Status] Ready to Deploy

#2876 Jetpack 10.6 default update
  jetpack.php
Labels: [Status] Ready to Deploy

#2890 Search: Make log message more filterable for successful deletes
  search/includes/classes/class-versioning.php
  search/includes/classes/class-versioningcleanupjob.php
Labels: [Status] Ready to Deploy, [Component] Search

#2892 Roll out index re-building for non-production sites at 25%
  lib/feature/class-feature.php
  search/includes/classes/class-versioningcleanupjob.php
Labels: [Status] Ready to Deploy

#2894 Search: Remove deprecated check for global version storage
  search/includes/classes/class-versioning.php
Labels: [Status] Needs Review

#2897 Jetpack: Return on no object for $jetpack_search in debug bar
  jetpack-10.6/3rd-party/debug-bar/class-jetpack-search-debug-bar.php
Labels: [Status] Ready to Deploy, [Component] Jetpack

#2886 CANTINA-855 - Account for all indexable post types and statuses when determining the number of shards for index
  search/includes/classes/class-search.php
  tests/mock-constants.php
  tests/search/includes/classes/test-class-search.php
Labels: [Status] Ready to Deploy, [Component] Search

#2918 Disable admin email check for VIP Support users
  vip-support/class-vip-support-user.php
Labels: [Type] Enhancement, [Status] Ready to Deploy

#2916 Search: Add backfilling EP option wrapper
  search/includes/functions/utils.php
Labels: [Status] Ready to Deploy, [Component] Search

#2919 Search: Remove the JP Search toggling page
  search/includes/classes/class-search.php
  search/search.php
  vip-jetpack/vip-jetpack.php
Labels: [Status] Ready to Deploy, [Component] Search

#2922 Search: Escape WP_Error namespace and use $indexable_slug not $slug
  search/includes/classes/class-settingshealthjob.php
Labels: [Status] Needs Review

#2921 setting orderby to none for db counts
  search/includes/classes/class-health.php
Labels: [Type] Enhancement, [Status] Ready to Deploy, [Component] Search

#2914 Search: json_decode the body of the query before logging a failed request
  search/includes/classes/class-search.php
Labels: [Status] Ready to Deploy, [Component] Search

#2920 Add .dockerignore for k8s build
  .deployignore
  .dockerignore
Labels: [Status] No files to Deploy

#2929 Update/dockerignore
  .deployignore
  .dockerignore
Labels: [Status] Needs Review, [Status] No files to Deploy

#2932 Search: Roll out index re-building to 50% of non-production sites
  lib/feature/class-feature.php
Labels: [Status] Ready to Deploy

#2937 Update Jetpack 10.7 beta to beta2
  jetpack-10.7/jetpack.php
  jetpack-10.7/jetpack_vendor/automattic/jetpack-my-jetpack/CHANGELOG.md
  jetpack-10.7/jetpack_vendor/automattic/jetpack-my-jetpack/src/class-initializer.php
  jetpack-10.7/jetpack_vendor/automattic/jetpack-my-jetpack/src/products/class-backup.php
  jetpack-10.7/jetpack_vendor/i18n-map.php
  jetpack-10.7/vendor/composer/autoload_files.php
  jetpack-10.7/vendor/composer/autoload_static.php
  jetpack-10.7/vendor/composer/installed.json
  jetpack-10.7/vendor/composer/installed.php
  jetpack-10.7/vendor/composer/jetpack_autoload_classmap.php
  jetpack-10.7/vendor/composer/jetpack_autoload_filemap.php
Labels: [Status] Ready to Deploy, [Component] Jetpack

#2936 JP /bin/ Scripts: Fix adding and updating subtree properly
  bin/add-jetpack-subtree.sh
  bin/update-jetpack-subtree.sh
Labels: [Status] No files to Deploy

#2941 Updating Parse.ly 3.1 branch to 3.1.2
  wp-parsely-3.1/.gitattributes
  wp-parsely-3.1/.github/workflows/e2e-tests.yml
  wp-parsely-3.1/CHANGELOG.md
  wp-parsely-3.1/CONTRIBUTING.md
  wp-parsely-3.1/README.md
  wp-parsely-3.1/WINDOWS.md
  wp-parsely-3.1/package-lock.json
  wp-parsely-3.1/package.json
  wp-parsely-3.1/src/UI/class-admin-bar.php
  wp-parsely-3.1/src/UI/class-row-actions.php
  wp-parsely-3.1/src/class-dashboard-link.php
  wp-parsely-3.1/src/class-parsely.php
  wp-parsely-3.1/src/class-rest.php
  wp-parsely-3.1/src/class-scripts.php
  wp-parsely-3.1/tests/Integration/DashboardLinkTest.php
  wp-parsely-3.1/tests/Integration/RestTest.php
  wp-parsely-3.1/tests/Integration/StructuredData/SinglePostTest.php
  wp-parsely-3.1/tests/Integration/UI/AdminBarTest.php
  wp-parsely-3.1/tests/Integration/UI/RowActionsTest.php
  wp-parsely-3.1/tests/e2e/utils.js
  wp-parsely-3.1/wp-parsely.php
Labels: [Status] Ready to Deploy, [Component] Parse.ly

#2931 Increase bulk edit limit to 100 posts
  performance/bulk-edit.php
Labels: [Status] Ready to Deploy

#2943 Search: Fix updated variable in case it was affecting the cron job
  search/includes/classes/class-settingshealthjob.php
Labels: [Status] Ready to Deploy

#2942 Ignore Parse.ly WINDOWS file on deploys
  .dockerignore
Labels: [Status] Needs Review

#2951 Search: Fix tests not running
  search/includes/classes/class-healthjob.php
  search/includes/classes/class-search.php
  tests/mock-constants.php
  tests/search/includes/classes/test-class-healthjob.php
  tests/search/includes/classes/test-class-search.php
Labels: [Component] Search, [Component] Tests
