Repository Automattic/vip-go-mu-plugins, pull requests merged in 2022-01, with the labels that each got.

#2773 Search: Remove redundant alerting from heal_index_settings
  search/includes/classes/class-settingshealthjob.php
  tests/search/includes/classes/test-class-settingshealthjob.php
Labels: [Status] Needs Review

#2767 Better check for if current query is cacheable
  search/includes/classes/class-search.php
  tests/search/includes/classes/test-class-search.php
Labels: [Status] Ready to Deploy, [Component] Search

#2776 Search: Build new index in the background if shard requirements are not met
  search/includes/classes/class-settingshealthjob.php
  tests/search/includes/classes/test-class-settingshealthjob.php
Labels: [Component] Search

#2774 Update/wp parsely 3.0.2
  wp-parsely-3.0/CHANGELOG.md
  wp-parsely-3.0/README.md
  wp-parsely-3.0/src/class-parsely.php
  wp-parsely-3.0/tests/Integration/StructuredData/SinglePostTest.php
  wp-parsely-3.0/wp-parsely.php
Labels: [Status] Deployed to staging, [Component] Parse.ly

#2766 Add the global timeout for search queries
  search/includes/classes/class-search.php
Labels: [Status] Ready to Deploy, [Component] Search

#2780 Search Dev Tools: prevent potential fatals on requests that resulted in a WP_Error (timeouts/connectivity issues)
  search/search-dev-tools/search-dev-tools.php
Labels: [Status] Ready to Deploy, [Component] Search

#2779 Search: Do not do any offloading if we are skipping term actions
  search/includes/classes/class-queue.php
Labels: [Status] Ready to Deploy, [Component] Search

#2788 Fix E2E workflow
  .github/workflows/e2e.yml
Labels: [Type] Bug, [Component] Tests, [Status] No files to Deploy

#2721 Added before_invoke hook for wp media regenerate.
  wp-cli/media-regenerate.php
Labels: [Status] Ready to Deploy

#2791 E2E: Roll back to colors@1.4.0 instead of 1.4.1
  .github/workflows/e2e.yml
Labels: [Type] Bug, [Status] Needs Review, [Type] Maintenance

#2758 Revert "Revert "Use Context for request type checks""
  000-pre-vip-config/requires.php
  000-vip-init.php
  001-cron.php
  a8c-files.php
  alloptions-limit.php
  async-publish-actions.php
  config/class-sync.php
  files/class-api-client.php
  lib/class-apc-cache-interceptor.php
  logstash/class-logger.php
  search/includes/classes/class-concurrency-limiter.php
  search/includes/classes/class-health.php
  search/includes/classes/class-search.php
  search/includes/classes/queue/class-cron.php
  search/includes/classes/queue/class-schema.php
  security/class-private-sites.php
  two-factor.php
  vip-helpers/vip-newrelic.php
  vip-helpers/vip-notoptions-mitigation.php
  vip-helpers/vip-utils.php
  vip-jetpack/connection-pilot/class-jetpack-connection-pilot.php
  vip-jetpack/vip-jetpack.php
  wp-cli.php
Labels: [Status] Ready to Deploy, [Type] Maintenance

#2793 Update WP versions for CI
  .circleci/config.yml
Labels: [Type] Maintenance, [Status] No files to Deploy

#2789 E2E: Undo 'colors' fix
  .github/workflows/e2e.yml
Labels: [Type] Maintenance, [Status] No files to Deploy

#2787 Add admin notice for WP 5.9
  admin-notice/README.md
  admin-notice/admin-notice.php
Labels: [Status] Ready to Deploy

#2795 Search: in build_new_job(), pass in string slug instead
  search/includes/classes/class-settingshealthjob.php
  tests/search/includes/classes/test-class-settingshealthjob.php
Labels: [Status] Needs Review, [Component] Search

#2796 CANTINA-848: ignore 404 errors in update_attachment_meta()
  files/class-meta-updater.php
Labels: [Status] Ready to Deploy

#2790 Jetpack to 10.5
  jetpack.php
Labels: [Status] Ready to Deploy

#2797 Update Parse.ly to 3.0.3
  wp-parsely-3.0/CHANGELOG.md
  wp-parsely-3.0/README.md
  wp-parsely-3.0/src/class-parsely.php
  wp-parsely-3.0/tests/Integration/StructuredData/SinglePostTest.php
  wp-parsely-3.0/wp-parsely.php
  wp-parsely.php
Labels: [Status] Ready to Deploy, [Component] Parse.ly

#2802 Update File service API client maintenance message to read 'Uploads are temporarily disabled due to platform maintenance. Please try again in a few minutes.'
  files/class-api-client.php
  tests/files/test-api-client.php
Labels: [Status] Ready to Deploy

#2782 Fix Search Dev Tools fatal error on when response body is empty
  search/search-dev-tools/search-dev-tools.php
Labels: [Status] Ready to Deploy, [Component] Search

#2810 Search: Only check index settings for active version
  search/includes/classes/class-health.php
Labels: [Status] Ready to Deploy, [Component] Search

#2809 E2E: Update JS Dependencies
  package-lock.json
Labels: dependencies, [Type] Maintenance, [Status] No files to Deploy

#2813 Make Context available for non-MU sites
  000-pre-vip-config/requires.php
  000-vip-init.php
Labels: [Type] Maintenance

#2819 Search: Fix remnants of "vip-es" in code command examples
  search/includes/classes/commands/class-healthcommand.php
Labels: [Status] Ready to Deploy, [Component] Search

#2772 Setting Parse.ly 3.0 as the default version
  wp-parsely.php
Labels: [Status] Ready to Deploy, [Component] Parse.ly

#2822 Search: Increase timeout for _open actions
  search/includes/classes/class-search.php
Labels: [Component] Search

#2823 Fixing Parse.ly 3.0 release
  wp-parsely-3.0/src/Integrations/class-amp.php
  wp-parsely-3.0/src/class-parsely.php
  wp-parsely.php
Labels: [Status] Needs Review, [Component] Parse.ly

#2824 Fix empty name on Parse.ly 3.0
  wp-parsely-3.0/src/class-parsely.php
Labels: [Status] Needs Review, [Component] Parse.ly

#2829 Setting Parse.ly 3.0 as the default version
  wp-parsely.php
Labels: [Status] Needs Review, [Component] Parse.ly

#2814 Update dependencies
  search/search-dev-tools/build/bundle.css
  search/search-dev-tools/build/bundle.js
  search/search-dev-tools/package-lock.json
  search/search-dev-tools/package.json
Labels: [Status] Needs Review, dependencies, [Type] Maintenance

#2837 Do not run 'git commit' if there is nothing to commit
  ci/deploy.sh
Labels: [Type] Bug, [Status] No files to Deploy

#2815 Harden GitHub workflows with StepSecurity
  .github/workflows/e2e.yml
  .github/workflows/release-changelog.yml
Labels: [Type] Maintenance, [Status] No files to Deploy

#2818 Search: Add --mode to validate-contents command
  search/includes/classes/class-health.php
  search/includes/classes/commands/class-healthcommand.php
Labels: [Status] Ready to Deploy, [Component] Search

#2841 Fix the shape of the data returned by the REST endpoint
  search/search-dev-tools/search-dev-tools.php
Labels: [Type] Bug, [Status] Ready to Deploy, [Component] Search

#2842 Switch WP 5.9 jobs to PHPUnit 9
  .circleci/config.yml
  composer.json
  composer.lock
Labels: [Type] Maintenance, [Status] No files to Deploy

#2845 JP Connection Pilot: Ensure "last_heartbeat" is an array
  vip-jetpack/connection-pilot/class-jetpack-connection-pilot.php
Labels: [Status] Ready to Deploy

#2844 Bump the metadata for QM
  query-monitor.php
Labels: [Status] Ready to Deploy, [Component] Query Monitor

#2843 Update development dependencies (PHP)
  composer.json
  composer.lock
Labels: [Status] Needs Review, dependencies, [Type] Maintenance

#2833 Split CI jobs between GitHub and CircleCI
  .circleci/config.yml
  .github/workflows/nightly.yml
  .github/workflows/parsely.yml
  bin/test.sh
  phpunit-multisite.xml
  phpunit.xml
Labels: [Type] Maintenance, [Status] No files to Deploy

#2846 Rollout Enterprise Search query cache to 50% of sites + all non-prods
  lib/feature/class-feature.php
  search/includes/classes/class-search.php
Labels: [Status] Ready to Deploy, [Component] Search

#2838 Update/jetpack 10.5 subtree
  jetpack-10.5/CHANGELOG.md
  jetpack-10.5/composer.json
  jetpack-10.5/jetpack.php
  jetpack-10.5/jetpack_vendor/i18n-map.php
  jetpack-10.5/readme.txt
  jetpack-10.5/vendor/autoload.php
  jetpack-10.5/vendor/autoload_packages.php
  jetpack-10.5/vendor/automattic/jetpack-backup/src/class-package-version.php
  jetpack-10.5/vendor/automattic/jetpack-connection/legacy/class-jetpack-ixr-client.php
  jetpack-10.5/vendor/automattic/jetpack-connection/legacy/class-jetpack-signature.php
  jetpack-10.5/vendor/automattic/jetpack-connection/src/class-client.php
  jetpack-10.5/vendor/automattic/jetpack-connection/src/class-package-version.php
  jetpack-10.5/vendor/automattic/jetpack-connection/src/class-urls.php
  jetpack-10.5/vendor/automattic/jetpack-roles/src/class-roles.php
  jetpack-10.5/vendor/automattic/jetpack-sync/src/class-functions.php
  jetpack-10.5/vendor/automattic/jetpack-sync/src/class-package-version.php
  jetpack-10.5/vendor/automattic/jetpack-sync/src/class-queue-buffer.php
  jetpack-10.5/vendor/automattic/jetpack-sync/src/class-utils.php
  jetpack-10.5/vendor/composer/autoload_real.php
  jetpack-10.5/vendor/composer/autoload_static.php
  jetpack-10.5/vendor/composer/jetpack_autoload_classmap.php
  jetpack-10.5/vendor/jetpack-autoloader/class-autoloader-handler.php
  jetpack-10.5/vendor/jetpack-autoloader/class-autoloader-locator.php
  jetpack-10.5/vendor/jetpack-autoloader/class-autoloader.php
  jetpack-10.5/vendor/jetpack-autoloader/class-container.php
  jetpack-10.5/vendor/jetpack-autoloader/class-hook-manager.php
  jetpack-10.5/vendor/jetpack-autoloader/class-latest-autoloader-guard.php
  jetpack-10.5/vendor/jetpack-autoloader/class-manifest-reader.php
  jetpack-10.5/vendor/jetpack-autoloader/class-path-processor.php
  jetpack-10.5/vendor/jetpack-autoloader/class-php-autoloader.php
  jetpack-10.5/vendor/jetpack-autoloader/class-plugin-locator.php
  jetpack-10.5/vendor/jetpack-autoloader/class-plugins-handler.php
  jetpack-10.5/vendor/jetpack-autoloader/class-shutdown-handler.php
  jetpack-10.5/vendor/jetpack-autoloader/class-version-loader.php
  jetpack-10.5/vendor/jetpack-autoloader/class-version-selector.php
Labels: [Status] Ready to Deploy

#2812 Introduce php-compat helper that currently contains polyfills for PHP 8 new string functions
  lib/helpers/php-compat.php
Labels: [Status] Ready to Deploy

#2848 Do not contact wordpress.org for translations
  tests/bootstrap.php
Labels: [Type] Maintenance, [Component] Tests, [Status] No files to Deploy

#2851 Bump down the default content validation batch size to 300
  search/includes/classes/class-health.php
Labels: [Status] Ready to Deploy, [Component] Search

#2859 Add annotations for Renovate to GitHub workflows
  .github/workflows/e2e.yml
  .github/workflows/nightly.yml
  .github/workflows/parsely.yml
  .github/workflows/release-changelog.yml
Labels: dependencies, [Type] Maintenance

#2737 Filters plugin URLs to use sandboxed hostnames.
  vip-helpers/sandbox.php
Labels: [Status] Needs Review

#2852 Fully roll out Enterprise Search query caching
  lib/feature/class-feature.php
  search/includes/classes/class-search.php
Labels: [Status] Ready to Deploy, [Component] Search
