Repository Automattic/vip-go-mu-plugins, pull requests merged in 2023-12, with the labels that each got.

#5043 Add and set wp-parsely 3.12 as the default version
  vip-parsely/vip-parsely.php
  wp-parsely.php
Labels: [Component] Parse.ly

#5080 `wpcom_vip_add_role()`: set `$capabilities` as empty array if not array
  vip-helpers/vip-roles.php
Labels: [Status] Needs Review

#5100 Deprecate `wpcom_vip_term_exists()`
  vip-helpers/vip-caching.php
  vip-helpers/vip-deprecated.php
Labels: [Status] Needs Review

#5106 Fix Search e2e tests
  tests/search/e2e/integration/features/woocommerce.spec.js
  tests/search/e2e/support/commands.js
Labels: [Component] Tests, [Status] No files to Deploy

#5093 Send a warning in case Jetpack is pinned but the pinned version is not available anymore
  jetpack.php
Labels: [Component] Jetpack
