Repository Automattic/vip-go-mu-plugins, pull requests merged in 2023-03, with the labels that each got.

#4175 Query Monitor: Fix Object Cache size sorting in table
  qm-plugins/qm-object-cache/html/class-qm-output-object-cache-ops.php
  qm-plugins/qm-object-cache/html/class-qm-output-object-cache-slow-ops.php
Labels: [Component] Query Monitor

#4176 Query Monitor: Enable for non-production environments
  query-monitor.php
Labels: [Component] Query Monitor

#4178 Wp-admin: Upgrade messaging for Enterprise Search rollout
  admin-notice/admin-notice.php
Labels: [Status] Ready to Deploy

#4179 Add and set wp-parsely 3.8 as the default version
  wp-parsely.php
Labels: [Status] Needs Review, [Component] Parse.ly

#4184 QM: Fix undefined error output_sortable_weight_table_cell
  qm-plugins/qm-object-cache/html/class-qm-output-object-cache-slow-ops.php
Labels: [Component] Query Monitor

#4190 tests: Fix database errors
  config/class-sync.php
  tests/config/test-sync.php
  tests/lib/feature/test-class-feature-ms.php
Labels: [Type] Bug, [Status] Ready to Deploy, [Component] Tests

#4189 tests: Fix "Class 'WPCOM_VIP_CLI_Command' not found" error
  000-vip-init.php
  search/includes/classes/class-search.php
  search/includes/classes/commands/class-corecommand.php
  search/includes/classes/commands/class-documentcommand.php
  search/includes/classes/commands/class-healthcommand.php
  search/includes/classes/commands/class-queuecommand.php
Labels: [Type] Bug, [Status] Ready to Deploy, [Component] Tests

#4197 tests: Fix "Class 'WPCOM_VIP_CLI_Command'" error
  search/includes/classes/class-search.php
  search/includes/classes/commands/class-documentcommand.php
  search/includes/classes/commands/class-healthcommand.php
  search/includes/classes/commands/class-queuecommand.php
  search/includes/classes/commands/class-versioncommand.php
Labels: [Type] Bug, [Component] Tests

#4200 tests: Fix "Undefined constant 'Automattic\VIP\Files\WP_CLI'" error
  files/class-api-client.php
  tests/cache/test-vary-cache.php
  tests/files/acl/test-acl.php
  tests/files/test-api-client.php
  tests/files/test-wp-filesystem-vip.php
  tests/lib/environment/test-class-environment.php
  tests/lib/helpers/test-environment.php
  tests/lib/helpers/test-wp-cli-db.php
  tests/lib/utils/context.php
  tests/search/includes/classes/test-class-health.php
  tests/search/includes/classes/test-class-search.php
  tests/search/includes/classes/test-class-settingshealthjob.php
  tests/security/test-class-private-sites.php
  tests/security/test-lockout.php
Labels: [Type] Bug, [Status] Needs Review, [Component] Tests, [Status] No files to Deploy

#4199 tests: Fix "assertObjectHasAttribute() is deprecated and will be removed in PHPUnit 10"
  tests/search/includes/classes/test-class-queue.php
Labels: [Type] Maintenance, [Component] Tests, [Status] No files to Deploy

#4198 Search: Include ALL users in count when running `wp vip-search health validate-users-count`
  search/includes/classes/class-health.php
Labels: [Status] Ready to Deploy, [Component] Search

#4205 Jetpack: Upgrade default non-pinned to 11.9
  jetpack.php
  tests/test-jetpack.php
Labels: [Component] Jetpack

#4207 tests: WP_UnitTestCase_Base::$factory is deprecated since 6.1.0
  tests/001-core/test-privacy.php
  tests/files/acl/test-acl.php
  tests/files/acl/test-restrict-all-files.php
  tests/files/acl/test-restrict-unpublished-files.php
  tests/files/test-vip-filesystem.php
  tests/performance/test-do-pings.php
  tests/search/includes/classes/test-class-health.php
  tests/search/includes/classes/test-class-search.php
  tests/security/test-lockout.php
  tests/security/test-machine-user.php
  tests/security/test-password.php
  tests/test-cache-ttl-manager-rest.php
  tests/test-core.php
  tests/test-performance-lastpostmodified.php
  tests/test-security.php
  tests/test-vip-cache-manager.php
  tests/test-wp-cli-ssl.php
  tests/vip-helpers/test-class-user-cleanup.php
  tests/vip-helpers/vip-utils/test-vip-utils-resized-attachments.php
  tests/vip-support/test-role.php
  tests/vip-support/test-user.php
Labels: [Status] Needs Review, [Type] Maintenance, [Component] Tests

#4183 VaultPress: Stop loading VaultPress plugin by default for non-production VIP environments
  vaultpress.php
Labels: [Status] Needs Review

#4182 Enterprise Search: Roll out to 20% of production
  lib/feature/class-feature.php
Labels: [Status] Ready to Deploy, [Component] Search

#4221 vipd: Fix fatal "Too few arguments to function Automattic\VIP\Helpers…
  lib/helpers/wp-cli-db/class-wp-cli-db.php
Labels: [Status] Needs Review

#4224 Search: Rollout to 30% of production
  lib/feature/class-feature.php
Labels: [Component] Search

#4231 Search: Add CLI command `wp vip-search queue info`
  search/includes/classes/commands/class-queuecommand.php
Labels: [Component] Search

#4238 Search Dev Tools: Differentiate between search and indexing rate limits
  search/includes/classes/class-search.php
  search/search-dev-tools/search-dev-tools.php
Labels: [Component] Search

#4188 ci: Replace MariaDB with MySQL
  .github/workflows/ci.yml
  .github/workflows/coverage-develop.yml
  .github/workflows/parsely.yml
  bin/pretest.sh
  bin/test.sh
  tests/search/includes/classes/test-class-queue.php
  tests/test-schema.php
Labels: [Type] Maintenance, [Status] No files to Deploy

#4185 Index theme information
  config/class-site-details-index.php
Labels: [Status] Blocked

#4206 Add Feature::get_bucket method which returns the bucket the site is in based on ID and feature
  lib/feature/README.md
  lib/feature/class-feature.php
Labels: [Status] Ready to Deploy

#4246 VaultPress: Stop loading VaultPress plugin by default for all VIP environments
  vaultpress.php
Labels: [Status] Do not deploy!, [Component] VaultPress

#4251 Search: Update wording on confirmation prompt when --using-versions on index command
  search/includes/classes/commands/class-corecommand.php
Labels: [Status] Needs Review, [Component] Search

#4247 fix: Do not load client MU plugins when WP is being installed
  vip-helpers/vip-utils.php
Labels: [Type] Bug, [Status] Ready to Deploy

#4240 Search: Add CLI `wp vip-search health rate-limits`
  search/includes/classes/class-queue.php
  search/includes/classes/class-search.php
  search/includes/classes/commands/class-healthcommand.php
Labels: [Component] Search

#4258 QM: For $value, add nullable to type in output_table_cell()
  qm-plugins/qm-object-cache/html/class-qm-output-object-cache-ops.php
  qm-plugins/qm-object-cache/html/class-qm-output-object-cache-slow-ops.php
Labels: [Component] Query Monitor

#4244 Search: Add CLI command `wp vip-search health stop-validate-contents`
  search/includes/classes/class-health.php
  search/includes/classes/class-healthjob.php
  search/includes/classes/commands/class-healthcommand.php
Labels: [Component] Search, [Status] Needs Docs

#4265 Search: Rollout to 30% of production (take 2)
  lib/feature/class-feature.php
Labels: [Component] Search

#4266 Search: Improve get-last-indexed-post-id to include timestamp for debugging
  search/includes/classes/class-search.php
  search/includes/classes/commands/class-corecommand.php
Labels: [Component] Search, [Status] Needs Docs

#4296 Search e2e: Fix failing tests from 6.2
  .github/workflows/search-e2e.yml
  tests/search/e2e/integration/features/facets.spec.js
  tests/search/e2e/integration/features/related-posts.spec.js
  tests/search/e2e/integration/indexables/user.spec.js
Labels: [Component] Tests, [Status] No files to Deploy

#4283 Search: Do not automatically swap index versions
  search/includes/classes/class-settingshealthjob.php
  tests/search/includes/classes/test-class-settingshealthjob.php
Labels: [Component] Search

#4294 Don't auto-update active version when --using-versions
  search/includes/classes/commands/class-corecommand.php
Labels: [Status] Ready to Deploy, [Component] Search

#4297 Search e2e: Wait for DOM elements to be loaded in openWidgetsPage()
  tests/search/e2e/integration/features/facets.spec.js
  tests/search/e2e/integration/features/related-posts.spec.js
  tests/search/e2e/support/commands.js
Labels: [Component] Tests, [Status] No files to Deploy
