Repository Automattic/vip-go-mu-plugins, pull requests merged in 2023-08, with the labels that each got.

#4722 Temporarily disable Jetpack AI Assistant extension
  vip-jetpack/vip-jetpack.php
Labels: [Component] Jetpack

#4731 Reduce the batch size to from 1000 to 500 and add the object count to the log entry. Limit to 1 queue processor job on non-prods
  search/includes/classes/class-queue.php
  search/includes/classes/queue/class-cron.php
  search/includes/classes/queue/class-schema.php
  tests/mock-constants.php
  tests/search/includes/classes/queue/test-class-cron.php
Labels: [Component] Search

#4712 Disable temporary backup removal logic introduced in WordPress 6.3
  001-core.php
Labels: [Type] Maintenance

#4756 Revert "Temporarily disable Jetpack AI Assistant extension"
  vip-jetpack/vip-jetpack.php
Labels: [Status] Needs Review

#4779 test(e2e): fix E2E tests
  __tests__/e2e/bin/setup-env.sh
  __tests__/e2e/lib/playwright-helpers.ts
Labels: [Type] Bug, [Status] Retro Review, [Type] Maintenance, [Component] Tests

#4777 fix(prometheus): harden Prometheus against user errors
  prometheus/endpoint.php
  prometheus/inc/class-collectorinterface.php
  prometheus/inc/class-plugin.php
  prometheus/inc/class-safeadapter.php
  prometheus/vendor/autoload.php
  prometheus/vendor/composer/autoload_classmap.php
  prometheus/vendor/composer/autoload_static.php
  tests/prometheus/test-prometheus.php
Labels: [Type] Bug

#4778 fix(qm-plugins): fix PHP warnings in QM_Output_Html_DB_Connections
  qm-plugins/qm-db-connections/class-qm-output-html-db-connections.php
Labels: [Type] Bug, [Status] Needs Review

#4780 fix(two-factor): send code when SMS is configured as a backup 2FA
  two-factor.php
  wpcom-vip-two-factor/sms-provider.php
Labels: [Type] Bug, [Feature] Two Factor, [Component] Two Factor

#4781 fix(files): account for upgrade-temp-backup directory
  files/class-vip-filesystem.php
  files/class-wp-filesystem-vip.php
  tests/files/test-image-sizes.php
  tests/files/test-image.php
  tests/files/test-vip-filesystem.php
  tests/files/test-wp-filesystem-vip.php
  tests/mock-constants.php
Labels: [Component] File Access Control

#4771 Adjust error logging in Jetpack Connection Pilot
  vip-jetpack/connection-pilot/class-jetpack-connection-controls.php
  vip-jetpack/connection-pilot/class-jetpack-connection-pilot.php
Labels: [Status] Has Feedback

#4762 ci: run tests against WP 6.2.x
  .github/workflows/ci.yml
Labels: [Status] Retro Review, [Type] Maintenance

#4684 Merge two-factor 0.8.2
  shared-plugins/two-factor/providers/class-two-factor-backup-codes.php
  shared-plugins/two-factor/providers/class-two-factor-totp.php
  shared-plugins/two-factor/readme.txt
  shared-plugins/two-factor/two-factor.php
Labels: [Feature] Two Factor

#4791 Fix fatal error in tracks widget updated event when return value is false
  vip-parsely/Telemetry/Events/track-widget-updated.php
Labels: [Type] Bug, [Component] Parse.ly
