Repository Automattic/vip-go-mu-plugins, pull requests merged in 2023-09, with the labels that each got.

#4827 Add and set wp-parsely 3.9 as the default version
  wp-parsely.php
Labels: [Component] Parse.ly

#4839 Adds wp_parsely_managed_options filter in Parse.ly integration
  integrations/block-data-api.php
  integrations/integration.php
  integrations/integrations.php
  integrations/parsely.php
  tests/integrations/fake-integration.php
  tests/integrations/test-integration.php
  tests/integrations/test-integrations.php
  tests/integrations/test-parsely.php
Labels: [Status] Needs Review, [Component] Parse.ly

#4792 test: do not perform external requests in `WPCOM_VIP_Utils_Vip_Is_Jetpack_Request_Test`
  tests/vip-helpers/vip-utils/test-vip-utils-vip-is-jetpack-request.php
Labels: [Status] Retro Review, [Component] Tests, [Status] No files to Deploy

#4854 chore: update wordpress-importer to 0.8.1
  wordpress-importer/class-wp-import.php
  wordpress-importer/compat.php
  wordpress-importer/parsers/class-wxr-parser-regex.php
  wordpress-importer/parsers/class-wxr-parser-simplexml.php
  wordpress-importer/parsers/class-wxr-parser-xml.php
  wordpress-importer/parsers/class-wxr-parser.php
  wordpress-importer/readme.txt
  wordpress-importer/wordpress-importer.php
Labels: [Status] Needs Review

#4869 fix(vip-helpers): load mu-plugins for wp-activate.php in subdireсtories
  tests/vip-helpers/vip-utils/test-wpcom-vip-should-load-plugins.php
  vip-helpers/vip-utils.php
Labels: [Type] Bug, [Status] Needs Review

#4883 ci: update WP Core Tests workflow
  .github/workflows/core-tests.yml
Labels: [Status] Retro Review, [Type] Maintenance

#4873 fix(vip-helpers): detect codespace as a non-prod environment
  vip-helpers/vip-non-production.php
Labels: [Status] Ready to Deploy

#4889 Check for VIP_GO_APP_ENVIRONMENT before using it
  drop-ins/object-cache.php
Labels: [Status] Ready to Deploy

#4845 FORNO-1668: Add Prometheus user stats collector
  lib/feature/class-feature.php
  prometheus-collectors/class-user-stats-collector.php
  prometheus.php
  tests/prometheus-collectors/test-class-user-stats-collector.php
Labels: [Status] Needs Review

#4897 Add and set wp-parsely 3.10 as the default version
  wp-parsely.php
Labels: [Status] Ready to Deploy, [Component] Parse.ly

#4903 test: address `http_api_transports` deprecation in WP 6.4
  tests/files/test-curl-streamer.php
Labels: [Status] Needs Review, [Type] Maintenance, [Component] Tests

#4904 fix(vip-search): PHP 8.2 deprecation notices for dynamic properties
  search/includes/classes/class-health.php
  search/includes/classes/class-healthjob.php
  search/includes/classes/class-queue.php
  search/includes/classes/class-search.php
  search/includes/classes/class-settingshealthjob.php
  search/includes/classes/class-versioningcleanupjob.php
  search/includes/classes/commands/class-documentcommand.php
Labels: [Status] Ready to Deploy, [Type] Maintenance, PHP Compatibility, [Component] Search

#4906 Search e2e Tests: Fix b0rked WooCommerce test
  tests/search/e2e/integration/features/woocommerce.spec.js
  tests/search/e2e/support/commands.js
Labels: [Status] Needs Review, [Status] Ready to Deploy, [Component] Search, [Status] No files to Deploy

#4909 (CANTINA-949) Jetpack: Move pre_option_jetpack_active_plan around to run before JP loads
  jetpack.php
  vip-jetpack/vip-jetpack.php
Labels: [Status] Needs Review, [Component] Jetpack
