Repository Automattic/vip-go-mu-plugins, pull requests merged in 2024-04, with the labels that each got.

#5415 fix(optionsapi): make `pre_wp_load_alloptions_protections()` compatible with WP 6.6
  001-core/options-api.php
Labels: [Type] Bug, [Status] Retro Review

#5413 ci: fix core tests
  .github/workflows/core-tests.yml
Labels: [Status] Retro Review, [Type] Maintenance

#5440 test: replace deprecated `PHPUnit_Framework_Error_Warning`
  tests/integrations/test-integration-vip-config.php
  tests/integrations/test-integration.php
  tests/integrations/test-integrations.php
Labels: [Status] Needs Review, [Type] Maintenance, [Component] Tests, [Status] No files to Deploy

#5441 test: do not use deprecated `setMethods()`
  tests/admin-notice/conditions/test-class-capability-condition.php
  tests/admin-notice/test-class-admin-notice-controller.php
  tests/files/test-vip-filesystem.php
  tests/performance/test-class-mime-types-caching.php
Labels: [Type] Maintenance, [Component] Tests, [Status] No files to Deploy

#5437 test: refactor `SettingsHealthJob_Test` to remove deprecated code
  search/includes/classes/class-settingshealthjob.php
  tests/search/includes/classes/test-class-settingshealthjob.php
Labels: [Type] Maintenance, [Component] Tests

#5438 test: refactor tests for integrations
  tests/integrations/test-integration-vip-config.php
  tests/integrations/test-integration.php
  tests/integrations/test-integrations.php
  tests/integrations/test-parsely.php
  tests/test-vip-integrations.php
Labels: [Type] Maintenance, [Component] Tests, [Status] No files to Deploy

#5442 test: fix deprecations in Search-related tests
  search/includes/classes/queue/class-cron.php
  tests/mock-constants.php
  tests/search/includes/classes/queue/test-class-cron.php
  tests/search/includes/classes/test-class-health.php
  tests/search/includes/classes/test-class-queue.php
  tests/search/includes/classes/test-class-search.php
  tests/search/includes/classes/test-class-versioning.php
  tests/search/includes/classes/test-class-versioningcleanupjob.php
Labels: [Type] Maintenance, [Component] Tests

#5446 test: fix a warning in `test_move_with_no_filesystem()` for WP 6.1
  tests/files/test-wp-filesystem-vip.php
Labels: [Type] Bug, [Status] Needs Review, [Component] Tests

#5443 test: speed up unit tests
  phpunit.xml
  tests/bootstrap.php
  tests/class-vip-test-listener.php
  tests/lib/utils/test-alerts.php
  tests/mock-constants.php
  tests/search/includes/classes/queue/test-class-cron.php
  tests/search/includes/classes/test-class-cache.php
  tests/search/includes/classes/test-class-health.php
  tests/search/includes/classes/test-class-healthjob.php
  tests/search/includes/classes/test-class-queue.php
  tests/search/includes/classes/test-class-search.php
  tests/search/includes/classes/test-class-settingshealthjob.php
  tests/search/includes/classes/test-class-versioning.php
  tests/utils/utils.php
  tests/vip-support/test-user.php
  vip-support/class-vip-support-user.php
Labels: [Type] Maintenance, [Component] Tests

#5451 test: update ES E2E tests to work with WP 6.5
  .gitignore
  tests/search/e2e/support/commands/block-editor.js
Labels: [Type] Bug, [Status] Needs Review, [Type] Maintenance, [Component] Tests

#5412 Stop resending some blocked emails from default VIP email address
  tests/test-vip-mail.php
  vip-mail.php
Labels: Do not merge!

#5470 ci: do not suppress `WP_DEBUG` for newer PHP versions
  .github/actions/run-wp-tests/action.yml
  bin/pretest.sh
  bin/test.sh
  tests/files/acl/test-restrict-all-files.php
  tests/files/acl/test-restrict-unpublished-files.php
  tests/lib/proxy/class-ip-forward-test-base.php
  tests/search/test-search-dev-tools.php
  tests/security/test-machine-user.php
  tests/test-cache-purge-term.php
  tests/test-cache-ttl-manager-rest.php
  tests/test-vip-rest-api.php
  tests/vip-support/test-role.php
Labels: [Status] Needs Review, [Type] Maintenance, PHP Compatibility, [Component] Tests

#5473 Staging release: v20240416.0
  .github/actions/run-wp-tests/action.yml
  .github/workflows/codeql-analysis.yml
  .gitignore
  __tests__/e2e/package-lock.json
  bin/pretest.sh
  bin/test.sh
  composer.json
  composer.lock
  jetpack.php
  package-lock.json
  phpunit.xml
  search/includes/classes/class-settingshealthjob.php
  search/search-dev-tools/build/bundle.js
  search/search-dev-tools/package-lock.json
  search/search-dev-tools/package.json
  search/search-dev-tools/src/components/app.js
  search/search-dev-tools/src/components/collapsible-list/index.js
  search/search-dev-tools/src/components/information-pane/index.js
  search/search-dev-tools/src/components/query/index.js
  tests/bootstrap.php
  tests/class-vip-test-listener.php
  tests/files/acl/test-restrict-all-files.php
  tests/files/acl/test-restrict-unpublished-files.php
  tests/lib/proxy/class-ip-forward-test-base.php
  tests/lib/utils/test-alerts.php
  tests/mock-constants.php
  tests/search/e2e/support/commands/block-editor.js
  tests/search/includes/classes/queue/test-class-cron.php
  tests/search/includes/classes/test-class-cache.php
  tests/search/includes/classes/test-class-health.php
  tests/search/includes/classes/test-class-healthjob.php
  tests/search/includes/classes/test-class-queue.php
  tests/search/includes/classes/test-class-search.php
  tests/search/includes/classes/test-class-settingshealthjob.php
  tests/search/includes/classes/test-class-versioning.php
  tests/search/test-search-dev-tools.php
  tests/security/test-machine-user.php
  tests/test-cache-purge-term.php
  tests/test-cache-ttl-manager-rest.php
  tests/test-jetpack.php
  tests/test-vip-mail.php
  tests/test-vip-rest-api.php
  tests/utils/utils.php
  tests/vip-support/test-role.php
  tests/vip-support/test-user.php
  vip-mail.php
  vip-support/class-vip-support-user.php
Labels: [Status] Needs Review

#5474 Fix changelog generator so that all PR commits are checked
  ci/changelog-summary.php
Labels: [Status] Needs Review

#5475 fix: check-before-use in `vip_reset_local_object_cache()`
  vip-helpers/vip-caching.php
Labels: [Type] Bug, [Status] Needs Review, PHP Compatibility

#5499 fix: `count_users()` returns an array
  search/includes/classes/class-search.php
  tests/search/includes/classes/test-class-search.php
Labels: [Type] Bug, [Status] Needs Review
