Repository Automattic/vip-go-mu-plugins, pull requests merged in 2024-05, with the labels that each got.

#5547 test: fix `test_ratelimit_indexing_queue_should_be_populated_if_ratelimiting_enabled`
  tests/search/includes/classes/test-class-queue.php
Labels: [Type] Bug, [Status] Needs Review, [Component] Tests

#5551 Jetpack: Update default to 13.4 from 13.3
  jetpack.php
  tests/test-jetpack.php
Labels: [Status] Needs Review, [Component] Jetpack

#5552 feat(vary-cache): allow for customizing cookie path and domain
  cache/class-vary-cache.php
Labels: [Type] Enhancement, [Component] Cache Personalization

#5555 Jetpack: Bump version number to 13.4.1
  jetpack.php
Labels: [Component] Jetpack

#5548 fix(files-acl): more thorough filename sanitization
  files/acl/pre-wp-utils.php
  tests/files/acl/test-pre-wp-utils.php
Labels: [Type] Bug, [Component] File Access Control

#5575 Add and set wp-parsely 3.15 as the default version
  wp-parsely.php
Labels: [Component] Parse.ly

#5577 fix: `test__filter__ep_sync_taxonomies_default` test
  tests/search/includes/classes/test-class-search.php
Labels: [Type] Bug, [Component] Tests

#5504 Integrations: Add Enterprise Search
  integrations/enterprise-search.php
  integrations/integration-vip-config.php
  tests/integrations/test-enterprise-search.php
  tests/integrations/test-integration-vip-config.php
  tests/integrations/test-parsely.php
  tests/mock-constants.php
  vip-integrations.php
Labels: [Status] Needs Review

#5612 chore(dev-deps): update dependencies for E2E tests
  __tests__/e2e/package-lock.json
Labels: dependencies, [Type] Maintenance
