Repository Automattic/vip-go-mu-plugins, pull requests merged in 2024-07, with the labels that each got.

#5678 fix(vip-helpers): add checks to `is_automattician()`
  vip-helpers/vip-utils.php
Labels: [Type] Enhancement

#5698 Add and set wp-parsely 3.16 as the default version
  wp-parsely.php
Labels: [Component] Parse.ly

#5597 Disable Divi caching
  plugin-fixes.php
  tests/test-divi-compatibility.php
Labels: [Status] Needs Review

#5743 test: update E2E tests for WP 6.6.1
  __tests__/e2e/lib/pages/wp-editor-page.ts
Labels: [Status] Needs Review, [Type] Maintenance, [Component] Tests

#5745 test: fix failing E2E search tests
  .github/workflows/search-e2e.yml
  tests/search/e2e/integration/features/related-posts.spec.js
  tests/search/e2e/support/commands/block-editor.js
Labels: [Status] In Progress, [Type] Maintenance, [Component] Tests

#5749 Add WP 6.5.x to the test matrix.
  .github/workflows/ci.yml
Labels: [Component] Tests
