Repository Automattic/vip-go-mu-plugins, pull requests merged in 2024-02, with the labels that each got.

#5211 test: properly restore hooks in `Versioning_Test`
  tests/search/includes/classes/test-class-versioning.php
Labels: [Type] Bug, [Component] Tests

#5131 Deprecate wp helper functions `wp_startswith`, wp_endswith` and `wp_in`
  001-core/privacy.php
  jetpack.php
  logstash/class-logger.php
  search/includes/classes/class-search.php
  search/search-dev-tools/search-dev-tools.php
  vaultpress.php
  vip-helpers/vip-utils.php
  wp-cli.php
Labels: php

#5238 Two Factor: Update two-factor-user-options- filter name for 0.7.0+
  wpcom-vip-two-factor/sms-provider.php
Labels: [Feature] Two Factor, [Pri] Normal, [Type] Maintenance, [Component] Two Factor

#5245 Skip retrying mail failures if failure is from `donotreply@wpvip.com`
  vip-mail.php
Labels: [Status] Needs Review
