Repository Automattic/vip-go-mu-plugins, pull requests merged in 2024-08, with the labels that each got.

#5768 fix(security): user enumeration when resetting password
  __tests__/e2e/lib/global-setup.ts
  __tests__/e2e/lib/pages/lost-password-page.ts
  __tests__/e2e/lib/pages/wp-login-page.ts
  __tests__/e2e/specs/security.spec.ts
  security/login-error.php
  tests/security/test-login-error.php
Labels: [Type] Bug, [Component] Security

#5765 WP Parse.ly: Allow VIP Support to access PCH features
  vip-parsely/vip-parsely.php
Labels: [Status] Needs Review, [Component] Parse.ly

#5777 test(e2e): add tests for `login-error.php`
  __tests__/e2e/lib/pages/wp-login-page.ts
  __tests__/e2e/specs/security.spec.ts
Labels: [Component] Tests

#5769 test(e2e): add generic checks
  __tests__/e2e/lib/pages/published-page-page.ts
  __tests__/e2e/lib/pages/published-post-page.ts
  __tests__/e2e/lib/playwright-helpers.ts
  __tests__/e2e/package-lock.json
  __tests__/e2e/package.json
  __tests__/e2e/specs/generic.spec.ts
Labels: [Component] Tests

#5800 Search e2e: (woo) wait for tasks bar to show up before proceeding with rest of tests
  tests/search/e2e/integration/features/woocommerce.spec.js
Labels: [Component] Tests

#5808 chore: lock file maintenance
  __tests__/e2e/package-lock.json
Labels: [Status] Needs Review, [Type] Maintenance

#5813 Update Link to Docs for Jetpack Content Distribution Settings
  blogpublic-notice.php
Labels: [Pri] Low, [Type] Maintenance, [Component] Jetpack
