Repository Automattic/vip-go-mu-plugins, pull requests merged in 2025-06, with the labels that each got.

#6340 test: fix incorrect tear down sequence in `Remote_Data_Blocks_Integration_Test`
  tests/integrations/test-remote-data-blocks.php
Labels: [Type] Bug, [Status] Needs Review, [Type] Maintenance, [Component] Tests

#6353 fix: properly check `is_file()` return value
  files/class-api-client.php
Labels: [Type] Bug, [Status] Needs Review

#6357 Index registered user roles in site details
  config/class-site-details-index.php
Labels: [Status] Needs Review

#6378 chore: update two-factor to 0.13.0
  shared-plugins/two-factor/class-two-factor-core.php
  shared-plugins/two-factor/includes/Yubico/U2F.php
  shared-plugins/two-factor/providers/class-two-factor-fido-u2f-admin.php
  shared-plugins/two-factor/providers/class-two-factor-provider.php
  shared-plugins/two-factor/providers/class-two-factor-totp.php
  shared-plugins/two-factor/readme.txt
  shared-plugins/two-factor/two-factor.php
  shared-plugins/two-factor/user-edit.css
Labels: [Component] Two Factor
